// This file is imported in all stylus source code

rupture.mobile-cutoff = 450px
rupture.desktop-cutoff = 1000px

@import 'color.inc.styl'
@import 'webicon.inc.styl'
@import 'variables.inc.styl'
@import 'easing.inc.styl'
@import 'rem.inc.styl'
