// Colors
$primary-color = #5AA4E0
$secondary-color = #e8698f
$text-color = #555
$header-color = #3D3D3D
$blockquote-color = #999
$small-color = #888
$bg-color = #ECECEC
$font-size = 16px
$table-border-color = #E8E8E8

$immersive-primary-color = #FFEF87
$immersive-text-color = #F8F8F8
$immersive-header-color = #FFFFFF

// Fonts
$primary-font-family = "Open Sans", "PingFang SC", "Seravek", "Segoe UI", "Verdana", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans"
$header-font-family = "Open Sans", "PingFang SC", "Seravek", "Segoe UI", "Verdana", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"
$code-font-family = "monaco", "Source Code Pro", "Consolas", "Courier New", "monospace"

// Badge
$badge-text-color = {
  'mod': #FFF,
  'lv0': #727171,
  'lv1': #FFF,
  'lv2': #FFF,
  'lv3': #FFF,
  'lv4': #FFF,
  'lv5': #FFF,
  'lv6': #FFF,
  'lv7': #FFF,
  'lv8': #FFF,
  'lv9': #FFF,
  'lv10': #FFF,
}
$badge-bg-color = {
  'mod': #cf70ab,
  'lv0': #efefef,
  'lv1': #9db4bd,
  'lv2': #9db4bd,
  'lv3': #73c3bc,
  'lv4': #73c3bc,
  'lv5': #81ba6c,
  'lv6': #81ba6c,
  'lv7': #f7b200,
  'lv8': #ff9251,
  'lv9': #eb6363,
  'lv10': #575757,
}

// Record Status
$record-status-color = {
  'pass': #25ad40,
  'fail': #fb5555,
  'progress': #f39800,
  'ignored': #9fa0a0,
  'pending': #9fa0a0,
}

$record-status-icon = {
  'pass': '\e5ca',
  'fail': '\e5cd',
  'progress': '\e88b',
  'ignored': '\e5cd',
  'pending': '\e8b5',
}
