// Colors
$default-color = #e8e8e8
$primary-color = #5f9fd6
$secondary-color = #ED5F82
$highlight-color = #df6589
$text-color = #555
$header-color = #3D3D3D
$blockquote-color = #999
$small-color = #888
$bg-color = #EDF0F2
$font-size = 16px             // main content
$font-size-secondary = 14px   // secondary content
$font-size-small = 13px       // additional informations, usually gray colored
$font-size-icon = 16px
$font-size-title = 20px
$table-border-color = $default-color

$supplementary-color = lighten($text-color, 50%)
$supplementary-border-color = lighten($supplementary-color, 62%)
$supplementary-link-color = lighten($text-color, 40%)

$immersive-primary-color = #FFEF87
$immersive-text-color = #F8F8F8
$immersive-header-color = #FFFFFF

$success-color = #25ad40
$fail-color = #fb5555
$progress-color = #f39800
$invalid-color = #9fa0a0

$table-padding-h = 10px

// Fonts
$primary-font-family = "Open Sans", "PingFang SC", "Seravek", "Segoe UI", "Verdana", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans"
$header-font-family = "Open Sans", "PingFang SC", "Seravek", "Segoe UI", "Verdana", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"
$code-font-family = "monaco", "Source Code Pro", "Consolas", "Courier New", "monospace"

// Notification
$notification-color = {
  'success': #9BDB7B,
  'info': #78D6F4,
  'warn': #FCD279,
  'error': #FD848D,
}

$notification-icon = {
  'success': $icon-check--circle,
  'info': $icon-info--circle,
  'warn': $icon-info--circle,
  'error': $icon-close--circle,
}

// Badge
$badge-text-color = {
  'mod': #FFF,
  'lv0': #727171,
  'lv1': #FFF,
  'lv2': #FFF,
  'lv3': #FFF,
  'lv4': #FFF,
  'lv5': #FFF,
  'lv6': #FFF,
  'lv7': #FFF,
  'lv8': #FFF,
  'lv9': #FFF,
  'lv10': #FFF,
}
$badge-bg-color = {
  'mod': #cf70ab,
  'lv0': #efefef,
  'lv1': #9db4bd,
  'lv2': #9db4bd,
  'lv3': #73c3bc,
  'lv4': #73c3bc,
  'lv5': #81ba6c,
  'lv6': #81ba6c,
  'lv7': #f7b200,
  'lv8': #ff9251,
  'lv9': #eb6363,
  'lv10': #575757,
}

// Record Status
$record-status-color = {
  'pass': $success-color,
  'fail': $fail-color,
  'progress': $progress-color,
  'ignored': $invalid-color,
  'pending': $invalid-color,
}

$record-status-icon = {
  'pass': $icon-check,
  'fail': $icon-close,
  'progress': $icon-hourglass,
  'ignored': $icon-close,
  'pending': $icon-schedule,
}
