icomoon-font-path ?= "fonts"

icon-block = "\e905"
icon-bold = "\e906"
icon-bubble = "\e908"
icon-bubble--outline = "\e907"
icon-check = "\e909"
icon-chevron_left = "\e90a"
icon-chevron_right = "\e90b"
icon-close = "\e90c"
icon-debug = "\e90d"
icon-delete = "\e900"
icon-download = "\e90e"
icon-edit = "\e90f"
icon-enlarge = "\e901"
icon-expand_less = "\e910"
icon-expand_more = "\e911"
icon-facebook = "\e912"
icon-favourite = "\e913"
icon-flag = "\e914"
icon-formula = "\e915"
icon-github = "\e916"
icon-global = "\e917"
icon-google_plus = "\e918"
icon-help = "\e919"
icon-hourglass = "\e91a"
icon-insert--image = "\e91b"
icon-insert--link = "\e91c"
icon-italic = "\e903"
icon-link = "\e91d"
icon-linkedin = "\e91e"
icon-mail = "\e91f"
icon-message = "\e920"
icon-ordered_list = "\e921"
icon-play = "\e922"
icon-preview = "\e923"
icon-qq = "\e924"
icon-quote = "\e904"
icon-reply = "\e925"
icon-schedule = "\e926"
icon-search = "\e927"
icon-security = "\e928"
icon-send = "\e929"
icon-settings = "\e92a"
icon-shrink = "\e902"
icon-star = "\e92c"
icon-star--outline = "\e92b"
icon-statistics = "\e92d"
icon-tag = "\e92e"
icon-twitter = "\e92f"
icon-unordered_list = "\e930"
icon-upload = "\e931"
icon-user = "\e932"
icon-warning = "\e933"
icon-wechat = "\e934"
icon-wrench = "\e935"

