icomoon-font-path ?= "fonts"

icon-add = "\e900"
icon-block = "\e901"
icon-bold = "\e902"
icon-bubble = "\e903"
icon-bubble--outline = "\e904"
icon-check = "\e905"
icon-chevron_left = "\e906"
icon-chevron_right = "\e907"
icon-close = "\e908"
icon-debug = "\e909"
icon-delete = "\e90a"
icon-download = "\e90b"
icon-edit = "\e90c"
icon-enlarge = "\e90d"
icon-expand_less = "\e90e"
icon-expand_more = "\e90f"
icon-facebook = "\e910"
icon-favourite = "\e911"
icon-flag = "\e912"
icon-formula = "\e913"
icon-github = "\e914"
icon-global = "\e915"
icon-google_plus = "\e916"
icon-help = "\e917"
icon-hourglass = "\e918"
icon-insert--image = "\e919"
icon-insert--link = "\e91a"
icon-italic = "\e91b"
icon-link = "\e91c"
icon-linkedin = "\e91d"
icon-mail = "\e91e"
icon-message = "\e91f"
icon-ordered_list = "\e920"
icon-platform--android = "\e921"
icon-platform--chromeos = "\e922"
icon-platform--ios = "\e923"
icon-platform--linux = "\e924"
icon-platform--mac = "\e925"
icon-platform--mobile = "\e926"
icon-platform--unknown = "\e927"
icon-platform--windows = "\e928"
icon-play = "\e929"
icon-preview = "\e92a"
icon-qq = "\e92b"
icon-quote = "\e92c"
icon-refresh = "\e941"
icon-reply = "\e92d"
icon-schedule = "\e92e"
icon-search = "\e92f"
icon-security = "\e930"
icon-send = "\e931"
icon-settings = "\e932"
icon-shrink = "\e933"
icon-star = "\e934"
icon-star--outline = "\e935"
icon-statistics = "\e936"
icon-tag = "\e937"
icon-twitter = "\e938"
icon-unordered_list = "\e939"
icon-upload = "\e93a"
icon-user = "\e93b"
icon-vote--down = "\e93c"
icon-vote--up = "\e93d"
icon-warning = "\e93e"
icon-wechat = "\e93f"
icon-wrench = "\e940"

