{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__body">
        {{ tdoc['content']|markdown }}
      </div>
    </div>
  {% if tdoc['status'] == vj4.model.adaptor.contest.STATUS_LIVE or tdoc['status'] == vj4.model.adaptor.contest.STATUS_DONE or True %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">比赛题目</h1>
      </div>
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
            <col class="col--status">
            <col class="col--submit-at">
            <col class="col--problem">
          </colgroup>
          <thead>
            <tr>
              <th class="col--status record-status--border">Status</th>
              <th class="col--submit-at">Last Submit At</th>
              <th class="col--problem">Problem</th>
            </tr>
          </thead>
          <tbody>
          {% for pid in tdoc['pids'] %}
            <tr>
              <td class="col--status record-status--border">No Submission</td>
              <td class="col--submit-at">2016-02-02 02:22:22</td>
              <td class="col--problem">#{{ loop.index }}: A+B Problem</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('{0} comments').format(0) }}</h1>
      </div>
      <div class="section__body">
        <blockquote class="warn">
          <p>Do not discuss solutions otherwise you will be treated as a cheater and lose qualifications.</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="section side">
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>状态</dt><dd>正在进行</dd>
          <dt>赛制</dt><dd>OI</dd>
          <dt>题量</dt><dd>4</dd>
          <dt>开始时间</dt><dd>456</dd>
          <dt>结束时间</dt><dd>123</dd>
          <dt>持续时间</dt><dd>3 hr</dd>
          <dt>组织者</dt><dd>swx</dd>
          <dt>参加人数</dt>
          <dd>
            30
            {% if attended %}
            (已参加)
            {% endif %}
          </dd>
        </dl>
      {% if handler.has_perm(vj4.model.builtin.PERM_ATTEND_CONTEST) %}
      {% if not attended %}
        <form method="POST">
          <input type="hidden" name="operation" value="attend">
          <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
          <button class="expanded primary button" type="submit">{{ _('Attend Contest') }}</button>
        </form>
      {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
