{% extends "layout/basic.html" %}
{% block content %}
<div class="row"><div class="medium-12 columns">
  <div class="section visible">
    <div class="section__header">
      <a class="button" href="{{ reverse_url('contest_status_download', tid=tdoc['doc_id']) }}">
        <span class="icon icon-download"></span> {{ _('Export as CSV') }}
      </a>
    </div>
    <div class="section__body no-padding">
      {% include 'partials/contest_status_'~vj4.constant.contest.RULE_ID[tdoc['rule']]~'.html' %}
    </div>
  </div>
</div></div>
{% endblock %}
