{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    {{ tdoc }}
  </div>
  <div class="large-3 columns">
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">
          {{ _('Contest Status') }}
        </h1>
      </div>
      <div class="section__body">
        <form method="POST">
          <input type="hidden" name="operation" value="attend">
          <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
          <button class="expanded primary button" type="submit">{{ _('Attend Contest') }}</button>
        </form>
        <p><a href="{{ reverse_url('contest_status', tid=tdoc['_id']) }}" class="expanded button">{{ _('Status') }}</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
