{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Create Discussion in {0}').format(vnode['title']) }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          <div class="row"><div class="medium-8 columns">
            <input name="title" placeholder="{{ _('title') }}" class="textbox" autofocus required>
          </div><div class="medium-4 columns">
          {% if handler.has_perm(vj4.model.builtin.PERM_HIGHLIGHT_DISCUSSION) %}
            <label class="checkbox">
              <input type="checkbox" name="highlight" value="on">{{ _('Highlight') }}
            </label>
          {% endif %}
          </div></div>
          <div class="row"><div class="columns" data-hotkey="ctrl+enter:submit">
            <textarea name="content" class="textbox" data-markdown required></textarea>
          </div></div>
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            <input type="submit" class="rounded primary button" value="{{ _('Create') }} (Ctrl+Enter)">
            <input type="button" class="rounded button" value="{{ _('Cancel') }}" onclick="window.history.go(-1)">
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% include 'components/md_hint.html' %}
  </div>
</div>
{% endblock %}
