{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Create Discussion in {0}').format(vnode.title) }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          <div class="row"><div class="medium-8 columns">
            <input name="title" placeholder="{{ _('title') }}" class="textbox" autofocus required>
          </div><div class="medium-4 columns">
          {% if handler.has_perm(vj4.model.builtin.PERM_HIGHLIGHT_DISCUSSION) %}
            <label class="checkbox">
              <input type="checkbox" name="highlight" value="on">{{ _('Highlight') }}
            </label>
          {% endif %}
          </div></div>
          <div class="row"><div class="columns" data-hotkey="ctrl+enter:submit">
            <textarea name="content" class="textbox" data-markdown required></textarea>
          </div></div>
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            <input type="submit" class="rounded primary button" value="{{ _('Create') }} (Ctrl+Enter)">
            <input type="button" class="rounded button" value="{{ _('Cancel') }}" onclick="window.history.go(-1)">
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section side">
      <div class="section__body typo">
        <dl>
          <dt>行内代码</dt>
          <dd><pre>`std::cout()`</pre></dd>
          <dt>代码区块</dt>
          <dd>
<pre>```c++
int main() {
  return 0;
}
```</pre>
          </dd>
          <dt>行内公式</dt>
          <dd><pre>$ E=mc^2 $</pre></dd>
          <dt>公式区块</dt>
          <dd><pre>$$ E=mc^2 $$</pre></dd>
          <dt>链接</dt>
          <dd><pre>[文字](http://...)</pre>
          <dt>图片</dt>
          <dd><pre>![文字描述](http://...)</pre>
          </dd>
        </dl>
        <h2 class="section__title">了解更多</h2>
        <ul>
          <li><a href="http://commonmark.org/help/" target="_blank"><span class="icon icon-link--external"></span> CommonMark 规范语法</a></li>
          <li><a href="http://mlworks.cn/posts/introduction-to-mathjax-and-latex-expression/" target="_blank"><span class="icon icon-link--external"></span> LaTex 公式</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
