{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="emoji--enabled">{{ ddoc['title'] }}</h1>
      </div>
      <div class="section__body">
        <div class="dczdetail__supplementary">
          <a class="v-center dcznode-tag" href="{{ reverse_url('discussion_node', node_or_pid=vnode['doc_id']) }}"><span class="icon icon-tag"></span>{{ vnode['title'] }}</a>
          <span class="v-center"> · </span>
          {% with user = udoc %}
            {% include "components/inline_user.html" %}
          {% endwith %}
          <span class="v-center"> · </span>
          <span class="v-center">{{ _('Published at') }} {{ datetime_span(ddoc['_id'].generation_time) }}</span>
        </div>
        <div class="typo topic__content emoji--enabled">
          {{ ddoc['content']|markdown }}
        </div>
      </div>
      <div class="section__footer topic__footer">
        {{ _('{0} views').format(ddoc['views']) }} · <span class="icon icon-star--outline"></span> 收藏主题 · <a href="#"><span class="icon icon-warning"></span> 举报</a>
      </div>
    </div>
    <div class="section">
      <div class="section__header">
        <h1 class="dczdetail__title">{{ _('{0} comments').format(ddoc['num_replies']) }}</h1>
      </div>
      <div class="section__body">
        <ul class="dczcomments__list">
          <!-- TODO (iceboy): privilege/permission based -->
          {% if handler.user != vj4.model.builtin.USER_GUEST %}
          <li class="dczcomments__item">
            <div class="media">
              <div class="media__left top">
                <img src="{{ handler.user['gravatar']|gravatar_url }}" width="60" height="60" class="medium user-profile-avatar">
              </div>
              <div class="media__body top">
                <form method="post" class="hasjs--hide">
                  <div class="dczcomments__box">
                    <div>
                      <textarea name="content" class="textbox" data-markdown></textarea>
                    </div>
                    <div>
                      <input type="submit" class="rounded primary button dczcomments__box__submit" value="{{ _('Comment') }}" data-value-reply="{{ _('Reply') }}" data-value-comment="{{ _('Comment') }}" data-value-update="{{ _('Update') }}">
                      <input type="button" class="rounded button nojs--hide dczcomments__box__cancel" value="{{ _('Cancel') }}">
                    </div>
                  </div>
                  <input type="hidden" name="operation" value="reply">
                  <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
                </form>
                <div class="nojs--hide">
                  <textarea class="dczcomments__dummy-box textbox" readonly data-form="{{ {"operation": "reply"}|json }}" placeholder="Write Your Comments"></textarea>
                </div>
                <div class="commentbox-placeholder"></div>
                <ul style="display:none">
                  <li class="dczcomments__reply media commentbox-container">
                    <div class="media__left top">
                      <img src="{{ handler.user['gravatar']|gravatar_url }}" width="50" height="50" class="medium user-profile-avatar">
                    </div>
                    <div class="media__body top commentbox-placeholder"></div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          {% endif %}
          {% for drdoc in drdocs %}
          <li class="dczcomments__item">
            <div class="media">
              <div class="media__left top">
                <img src="{{ drdoc['udoc']['gravatar']|gravatar_url }}" width="60" height="60" class="medium user-profile-avatar">
              </div>
              <div class="media__body top">
                <div class="clearfix">
                  <div class="dczcomments__supplementary">
                    {% with noAvatar = true, user = drdoc['udoc'] %}
                    {% include "components/inline_user.html" %}
                    {% endwith %}
                    <span class="v-center">@ {{ datetime_span(drdoc['_id'].generation_time) }}</span>
                  </div>
                  <div class="dczcomments__operations nojs--hide">
                    <a href="javascript:;" data-tooltip="Reply" class="dczcomments__op-reply" data-form="{{ {"operation": "tail_reply", "drid": drdoc['doc_id']}|json }}"><span class="icon icon-reply"></span></a> <a href="javascript:;" data-tooltip="Edit" class="dczcomments__op-edit"><span class="icon icon-edit"></span></a> <a href="javascript:;" data-tooltip="Delete" class="dczcomments__op-delete"><span class="icon icon-delete"></span></a>
                  </div>
                </div>
                <div class="typo no-heading emoji--enabled">
                  {{ drdoc['content']|markdown }}
                </div>
                <ul class="dczcomments__replies commentbox-prepend-target"><!--
               -->{% for drrdoc in drdoc['reply'] %}
                  <li class="dczcomments__reply media">
                    <div class="media__left top">
                      <img src="{{ drrdoc['udoc']['gravatar']|gravatar_url }}" width="50" height="50" class="medium user-profile-avatar">
                    </div>
                    <div class="media__body top">
                      <div class="clearfix">
                        <div class="dczcomments__supplementary">
                          {% with noAvatar = true, user = drrdoc['udoc'] %}
                          {% include "components/inline_user.html" %}
                          {% endwith %}
                          <span class="v-center">@ {{ datetime_span(drrdoc['at']) }}</span>
                        </div>
                        <div class="dczcomments__operations nojs--hide">
                          <a href="javascript:;" data-tooltip="Reply" class="dczcomments__op-reply"><span class="icon icon-reply"></span></a> <a href="javascript:;" data-tooltip="Edit" class="dczcomments__op-edit"><span class="icon icon-edit"></span></a> <a href="javascript:;" data-tooltip="Delete" class="dczcomments__op-delete"><span class="icon icon-delete"></span></a>
                        </div>
                      </div>
                      <div class="typo no-heading emoji--enabled">
                        {{ drrdoc['content']|markdown }}
                      </div>
                    </div>
                  </li>
                  {% endfor %}<!--
             --></ul>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section side">
      <div class="profile__bg user-profile-bg--12"></div>
      <div class="section__body">
        <div class="media sidebar-user-profile">
          <div class="media__left">
            <img src="{{ udoc['gravatar']|gravatar_url }}" width="80" height="80" class="medium user-profile-avatar">
          </div>
          <div class="media__body">
            <p>
              {% with noAvatar = true, noModBadge = true, user = udoc %}
              {% include "components/inline_user.html" %}
              {% endwith %}
            </p>
          </div>
        </div>
      </div>
      <div class="section__body">
        <div class="balancer sidebar-user-stat">
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">52</div>
              <div class="numbox__text">通过题目</div>
            </div>
          </div>
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">14</div>
              <div class="numbox__text">题解被赞</div>
            </div>
          </div>
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">5</div>
              <div class="numbox__text">上传题目</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Related Discussions') }}</h1>
      </div>
      <div class="section__body">
        <p>foo bar</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
