{% extends "layout/basic.html" %}
{% import "components/problem.html" as problem with context %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
    {% if not ddocs %}
    {% with text = _('no discussion yet...') %}
      {% include "components/nothing.html" %}
    {% endwith %}
    {% else %}
      <ol class="dczlist">
      {% for ddoc in ddocs %}
        <li class="dczlist__item{% if ddoc['highlight'] %} highlight{% endif %}">
          <div class="media">
            <div class="media__left">
              <div class="dczlist__reply_n numbox">
                <div class="numbox__num large"><a href="{{ reverse_url('discussion_detail', did=ddoc['doc_id']) }}">{{ ddoc['num_replies'] }}</a></div>
                <div class="numbox__text">{{ _('Comments') }}</div>
              </div>
            </div>
            <div class="media__body top">
              <h1 class="dczlist__title"><a href="{{ reverse_url('discussion_detail', did=ddoc['doc_id']) }}" data-emoji-enabled>{{ ddoc['title'] }}</a></h1>
              <div class="dczlist__supplementary">
                <a class="v-center dcznode-tag" href="{{ reverse_url('discussion_node', node_or_pid=ddoc['parent_doc_id']) }}">{% if ddoc['parent_doc_type'] == vj4.model.document.TYPE_DISCUSSION_NODE %}<span class="icon icon-tag"></span>{% else %}<span class="icon icon-flag"></span>{% endif %}{{ vndict[ddoc['parent_doc_id']]['title'] }}</a>
                <span class="v-center"> · </span>
              {% with user = udict[ddoc['owner_uid']], noBadge = true %}
                {% include "components/inline_user.html" %}
              {% endwith %}
                <span class="v-center"> · </span>
                <span class="v-center">{{ _('Published at') }} {{ datetime_span(ddoc['_id'].generation_time) }}</span>
                <span class="v-center"> · </span>
                <a class="v-center dczlist__reply-link" href="{{ reverse_url('discussion_detail', did=ddoc['doc_id']) }}"><span class="icon icon-bubble"></span> {{ _('{0} comments').format(ddoc['num_replies']) }}</a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
      </ol>
      {{ paginator.render(page, (dcount + handler.DISCUSSIONS_PER_PAGE - 1) // handler.DISCUSSIONS_PER_PAGE) }}
    {% endif %}
    </div>
  </div>
  <div class="large-3 columns">
  {% if vnode['doc_type'] == vj4.model.document.TYPE_PROBLEM %}
    {{ problem.render_sidebar(vnode, udoc) }}{# TODO: where is udoc? #}
  {% else %}
    <div class="section side">
      {% if vnode['pic'] %}<div class="dcznode-bg {{ vnode['pic'] }}"></div>{% endif %}
      <div class="section__header">
        <h1 class="section__title">{{ vnode['title'] or _('Create Discussion') }}</h1>
      </div>
      <div class="section__body">
      {% if vnode %}
        {% if handler.has_perm(vj4.model.builtin.PERM_CREATE_DISCUSSION) %}
        <p><a href="{{ reverse_url('discussion_create', node_or_pid=vnode['doc_id']) }}" class="expanded primary button">{{ _('Create a discussion') }}</a></p>
        {% else %}
        <p><a href="javascript:;" class="expanded primary button">{{ _('Login to Create a discussion' if not handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) else 'No Permission to Create a discussion') }}</a></p>
        {% endif %}
      {% else %}
        <p>{{ _('Select a node to create discussion.') }}</p>
      {% endif %}
      </div>
    </div>
  {% endif %}
    {% include 'discussion_nodes_widget.html' %}
  </div>
</div>
{% endblock %}
