{% extends "layout/basic.html" %}
{% macro menu_item(icon_name, target_page_name) %}
<li class="menu__item" id="menu-item-{{ target_page_name }}">
  <a href="{{ reverse_url(target_page_name) }}" class="menu__link{% if page_name == target_page_name %} active{% endif %}">
    <span class="icon icon-{{ icon_name }}"></span> {{ _(target_page_name) }}
  </a>
</li>
{% endmacro %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    {% block domain_content %}{% endblock %}
  </div>
  <div class="large-3 columns">
    {% if page_name != 'domain_create' %}
    <div class="section side">
      <div data-sticky="large"><div class="section side">
        <ul class="menu">
          {{ menu_item('cloud', 'domain_main') }}
          <li class="menu__seperator"></li>
          {% if handler.has_perm(vj4.model.builtin.PERM_EDIT_DESCRIPTION) %}
          {{ menu_item('edit', 'domain_edit') }}
          {% endif %}
          {{ menu_item('user', 'domain_role') }}
        </ul>
      </div></div>
    </div>
    {% else %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Information') }}</h1>
      </div>
      <div class="section__body">
        <p><strong><big>{{ _('Domain ID cannot be changed once the domain is created.') }}</big></strong></p>
        <p>{{ _('Domain ID should match following requirements:') }}</p>
        <ol>
          <li>{{ _('Unique.') }}</li>
          <li>{{ _('No blank characters around.') }}</li>
          <li>{{ _('Not starts with numbers.') }}</li>
          <li>{{ _('No slash or backslash.') }}</li>
        </ol>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
