{% extends "domain_base.html" %}
{% block domain_content %}
<div class="section">
  <div class="section__header">
    <!-- TODO: replace with domain name -->
    <h1 class="section__title">{{ _('{0}: Permissions').format('Vijos') }}</h1>
  </div>
  <div class="section__body no-padding domain-users">
    <table class="data-table">
      <colgroup>
        <col class="col--description">
        <!-- TODO: for ... in ... -->
        <col class="col--p">
        <col class="col--p">
        <col class="col--p">
      </colgroup>
      <thead>
        <tr>
          <th class="col--uid">Permission</th>
          <!-- TODO: for ... in ... -->
          <th class="col--p"><span data-tooltip="guest">guest</span></th>
          <th class="col--p"><span data-tooltip="default">default</span></th>
          <th class="col--p"><span data-tooltip="admin">admin</span></th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: for ... in ... -->
        <tr>
          <td class="col--uid">
            删除评论
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
        </tr>
        <tr>
          <td class="col--uid">
            修改评论
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
        </tr>
        <tr>
          <td class="col--uid">
            高亮讨论主题
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td class="col--p">
            <label class="compact checkbox">
              <input type="checkbox">
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section__body">
    <button class="rounded primary button">{{ _('Update Permission') }}</button>
    <a class="rounded button" href="javascript:window.history.go(-1)">{{ _('Cancel') }}</a>
  </div>
</div>
{% endblock %}
