{% extends "domain_base.html" %}
{% block domain_content %}
<div data-heading-extract-to="#menu-item-domain_role">
<div class="section">
  <div class="section__header">
    <h1 class="section__title" id="help" data-heading>{{ _('Help') }}</h1>
  </div>
  <div class="section__body typo">
    TODO
  </div>
</div>
<div class="section">
  <div class="section__header">
    <h1 class="section__title" id="roles" data-heading>{{ _('All Roles') }}</h1>
  </div>
  <div class="section__body">
    <p>{{ _('Your role') }}: {{ handler.user['role']|default(vj4.model.builtin.ROLE_DEFAULT) }}{% if handler.user['_id'] == handler.domain['owner_uid'] %}, {{ _('owner') }}{% endif %}{% if handler.has_perm(vj4.model.builtin.PERM_ALL) %}, {{ _('root') }}{% endif %}{% if handler.has_priv(vj4.model.builtin.PRIV_ALL) %}, {{ _('vj4 root') }}{% endif %}</p>
    <p>{{ _('Your permission') }}: {{ handler.domain['roles'][handler.user['role']|default(vj4.model.builtin.ROLE_DEFAULT)]|default(vj4.model.builtin.PERM_NONE) }}</p>
    <p>{{ _('Roles') }}: {{ handler.domain['roles'] }}</p>
    <p><label><input name="role" placeholder="{{ _('role') }}" class="textbox"> <a class="rounded primary button" href="#">{{ _('Add') }}</a></label></p>
  </div>
</div>
{% for role, perm in handler.domain['roles'].items() %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title" id="role-{{ role }}" data-heading>{{ _('Role') }} - {{ role }}</h1>
    {% if role == vj4.model.builtin.ROLE_DEFAULT %}
    <span class="v-center user-profile-badge badge--mod" title="Moderator">{{ _('Default') }}</span>
    {% endif %}
    <p><a class="rounded primary button" href="#">{{ _('Delete') }}</a></p>
    <p><label><input name="uname" placeholder="{{ _('Username / UID') }}" class="textbox"> <a class="rounded primary button" href="#">{{ _('Add User') }}</a></label></p>
  </div>
  <div class="section__body">
    <p>{{ _('Users') }}: {{ rudocs[role] }}</p>
    <p>{{ _('Permission') }}: {{ perm }}</p>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
