{% extends "domain_base.html" %}
{% block domain_content %}
<form method="post">
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('{0}: Permissions').format(handler.domain['name']) }}</h1>
  </div>
  <div class="section__body no-padding domain-users">
    <table class="data-table">
      <colgroup>
        <col class="col--description">
        {% for role in roles %}
        <col class="col--p">
        {% endfor %}
      </colgroup>
      <thead>
        <tr>
          <th class="col--uid">{{ _('Permission') }}</th>
          {% for role in roles %}
          <th class="col--p"><span data-tooltip="{{ role }}">{{ role }}</span></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for perm, desc in vj4.model.builtin.PERM_TEXTS.items() %}
        <tr>
          <td class="col--uid">
            {{ _(desc) }}
          </td>
          {% for role in roles %}
          <td class="col--p">
            <label class="compact checkbox">
              <input name="{{ role }}" data-checkbox-group="{{ role }}" data-checkbox-range value="{{ perm }}" type="checkbox"{% if bitand(handler.domain['roles'][role], perm) == perm %} checked{% endif %}>
            </label>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="section__body">
    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
    <button class="rounded primary button" role="submit">{{ _('Update Permission') }}</button>
    <a class="rounded button" href="javascript:window.history.go(-1)">{{ _('Cancel') }}</a>
  </div>
</div>
{% endblock %}
