{% extends "layout/basic.html" %}
{% macro menu_item(icon_name, target_page_name) %}
<li class="menu__item" id="menu-item-{{ target_page_name }}">
  <a href="{{ reverse_url(target_page_name) }}" class="menu__link{% if page_name == target_page_name %} active{% endif %}">
    <span class="icon icon-{{ icon_name }}"></span> {{ _(target_page_name) }}
  </a>
</li>
{% endmacro %}
{% block content %}
<div class="row" data-sticky-parent>
  <div class="large-9 columns">
    {% block home_content %}{% endblock %}
  </div>
  <div class="large-3 columns">
    <div data-sticky="large"><div class="section side">
      <ol class="menu">
        {{ menu_item('message', 'home_messages') }}
        <li class="menu__seperator"></li>
        {{ menu_item('user', 'home_account') }}
        {{ menu_item('security', 'home_security') }}
        <li class="menu__seperator"></li>
        {{ menu_item('cloud', 'home_domain') }}
      </ol>
    </div></div>
  </div>
</div>
{% endblock %}
