{% extends "home_base.html" %}
{% import "components/form.html" as form with context %}
{% block home_content %}
<div class="section" data-heading-extract-to="#menu-item-home_account">
  <form method="post">
  {% for family, settings in vj4.model.adaptor.setting.SETTINGS_BY_FAMILY.items() %}
    <div class="section__header">
      <h1 class="section__title" id="{{ family }}" data-heading>{{ _(family) }}</h1>
    </div>
    <div class="section__body">
    {% for setting in settings %}
      <div class="row"><div class="medium-5 columns">
      <label>
        {{ _(setting.name) }}
      {% if setting.ui == 'text' %}
        {{ form.text(setting.key, handler.get_setting(setting.key)) }}
      {% elif setting.ui == 'select' %}
        {{ form.select(setting.key, setting.range.items(), handler.get_setting(setting.key)) }}
      {% endif %}
      </label>
      {% if setting.desc %}
        <p class="help-text">{{ _(setting.desc) }}</p>
      {% endif %}
      </div></div>
    {% endfor %}
    </div>
  {% endfor %}
    <div class="section__body">
      <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
      <input type="submit" class="rounded primary button" value="{{ _('Save All Changes') }}">
    </div>
  </form>
</div>
{% endblock %}
