{% extends "layout/basic.html" %}
{% block content %}
<div class="layout--2col clearfix">
  <div class="layout--2col__side">
    <div class="section side">
      <ul class="menu">
        <li class="menu__item"><a href="{{ reverse_url('home_messages') }}" class="menu__link active">{{ _('home_messages') }}</a></li>
        <li class="menu__seperator"></li>
        <li class="menu__item"><a href="{{ reverse_url('home_account') }}" class="menu__link">{{ _('home_account') }}</a></li>
        <li class="menu__item"><a href="{{ reverse_url('home_security') }}" class="menu__link">{{ _('home_security') }}</a></li>
      </ul>
    </div>
  </div>
  <div class="layout--2col__main">
    {% block home_content %}{% endblock %}
  </div>
</div>
{% endblock %}
