{% extends "home_base.html" %}
{% block home_content %}
<div>
  <h1>{{ _('Password') }}</h1>
  <form method="post">
    <input type="hidden" name="operation" value="change_password">
    <label for="input-current_password">{{ _('Current Password') }}</label>
    <input id="input-current_password" type="password" name="current_password">
    <label for="input-new_password">{{ _('New Password') }}</label>
    <input id="input-new_password" type="password" name="new_password">
    <label for="input-verify_password">{{ _('Verify Password') }}</label>
    <input id="input-verify_password" type="password" name="verify_password">
    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
    <input type="submit" value="{{ _('Change Password') }}">
  </form>
</div>
<div>
  <h1>{{ _('Sessions') }}</h1>
  <table>
    <thead>
      <th>{{ _('Create Time') }}</th>
      <th>{{ _('Create IP') }}</th>
      <th>{{ _('Create User Agent') }}</th>
      <th>{{ _('Type') }}</th>
      <th>{{ _('Update Time') }}</th>
      <th>{{ _('Update IP') }}</th>
      <th>{{ _('Update User Agent') }}</th>
      <th>{{ _('Expire Time') }}</th>
      <th>{{ _('Operation') }}</th>
    </thead>
    <tbody>
    {% for session in sessions %}
      <tr>
        <td>{{ datetime_span(session['create_at']) }}</span></td>
        <td>{{ session['create_ip'] }}</td>
        <td>{{ session['create_ua'] }}</td>
        <td>{{ _(vj4.handler.home.TOKEN_TYPE_TEXTS[session['token_type']]) }}</td>
        <td>{{ datetime_span(session['update_at']) }}</span></td>
        <td>{{ session['update_ip'] }}</td>
        <td>{{ session['update_ua'] }}</td>
        <td>{{ datetime_span(session['expire_at']) }}</span></td>
        <td>
        {% if session['is_current'] %}
          {{ _('This is current logon.') }}
        {% else %}
          <form method="post">
            <input type="hidden" name="operation" value="delete_token">
            <input type="hidden" name="token_type" value="{{ session['token_type'] }}">
            <input type="hidden" name="token_digest" value="{{ session['token_digest'] }}">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            <input type="submit" value="{{ _('Delete') }}">
          </form>
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <form method="post">
    <input type="hidden" name="operation" value="delete_all_tokens">
    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
    <input type="submit" value="{{ _('Delete All Sessions') }}">
  </form>
</div>
{% endblock %}
