{% extends "home_base.html" %}
{% block home_content %}
<div class="section">
  <form method="post">
    {% with settings = vj4.model.adaptor.setting.SETTINGS_BY_FAMILY %}
    {% for family in settings %}
    <div class="section__indent top bottom">
      <h1 class="section__title">{{ _(family) }}</h1>
      <div class="section__indent left right">
      {% for setting in settings[family] %}
      <div class="compact form__row">
        <label for="input-{{ setting['key'] }}">{{ _(setting['key']) }}</label>
        <input id="input-{{ setting['key'] }}" class="textbox" name="{{ setting['key'] }}" value="{{ view.get_setting(setting['key']) }}">
      </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% endwith %}
    <div class="section__indent top bottom left right">
      <input type="hidden" name="csrf_token" value="{{ view.csrf_token }}">
      <input type="submit" class="rounded primary button" value="{{ _('Save All Changes') }}">
    </div>
  </form>
</div>
{% endblock %}
