{% extends "layout/basic.html" %}
{% import "components/sidemenu.html" as sidemenu with context %}
{% block content %}
<div class="row" data-sticky-parent>
  <div class="large-9 columns">
    {% block home_content %}{% endblock %}
  </div>
  <div class="large-3 columns"><div data-sticky="large">
    <div class="section side">
      <ol class="menu">
        {{ sidemenu.pageitem('message', 'home_messages') }}
        <li class="menu__seperator"></li>
        {{ sidemenu.pageitem('user', 'home_account') }}
        {{ sidemenu.pageitem('security', 'home_security') }}
        <li class="menu__seperator"></li>
        {{ sidemenu.pageitem('cloud', 'home_domain') }}
      </ol>
    </div>
    {% block home_sidebar %}{% endblock %}
  </div></div>
</div>
{% endblock %}
