{% extends "home_base.html" %}
{% block home_content %}
<div class="section" data-heading-extract-to="#menu-item-home_preference">
  <form method="post">
  {% for family, settings in vj4.model.adaptor.setting.get_settings('preference', handler.get_setting) %}
    <div class="section__header">
      <h1 class="section__title" id="{{ family }}" data-heading>{{ _(family) }}</h1>
    </div>
    <div class="section__body">
      {{ form.render(settings) }}
    </div>
  {% endfor %}
    <div class="section__body">
      <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
      <input type="submit" class="rounded primary button" value="{{ _('Save All Changes') }}">
    </div>
  </form>
</div>
{% endblock %}
