{% set header_mini = true %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    {% if domain_id == vj4.model.builtin.DOMAIN_ID_SYSTEM %}
    <code class="lang-math">$$E=mc^2$$</code>
    <h1>{{ (_('Swx Good!') + ' ') * 23 }}</h1>
    {% else %}
    <h1>Domain {{ domain_id }}'s Main Page</h1>
    <code class="lang-math">$$F=ma$$</code>
    {% endif %}
  </div>
  <div class="large-3 columns">
    {% include 'discussion_nodes_widget.html' %}
  </div>
</div>
{% endblock %}
