{% set header_collapsed = true %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="layout--2col clearfix">
  <div class="layout--2col__main">
    {% if domain_id == vj4.model.builtin.DOMAIN_ID_SYSTEM %}
    <code class="lang-math">$$E=mc^2$$</code>
    <h1>{{ (_('Swx Good!') + ' ') * 23 }}</h1>
    {% else %}
    <h1>Domain {{ domain_id }}'s Main Page</h1>
    <code class="lang-math">$$F=ma$$</code>
    {% endif %}
  </div>
  <div class="layout--2col__side">
    {% include 'discussion_nodes_widget.html' %}
  </div>
</div>
{% endblock %}
