{% extends "layout/basic.html" %}
{% block content %}
<div class="layout--2col clearfix">
  <div class="layout--2col__main">
    <div class="section">
      <div class="section__indent top bottom">
        <h1 class="section__title">递交代码进行评测</h1>
        <div class="section__indent top bottom left right">
          <div>
            <form method="post">
              <div class="compact form__row">
                <label>代码语言: </label><select name="lang">
                {% for key, value in vj4.model.builtin.LANGS.items() %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="compact form__row">
                <textarea class="expanded monospace textbox" name="code" autofocus></textarea>
              </div>
              <div class="compact form__row">
                <input type="hidden" name="csrf_token" value="{{ view.csrf_token }}">
                <input type="submit" class="rounded primary button" value="{{ _('Submit') }}">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout--2col__side">
    <div class="section side">
      <div class="section__indent top">
        <h1 class="section__title">A + B Problem</h1>
      </div>
      <div>
        <!-- TODO (swx): extract and reuse this sidebar -->
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">
            <i class="menu__icon icon-flag"></i> {{ _('View Problem') }}
          </a></li>
          <li class="menu__seperator"></li>
          <li class="menu__item"><a class="menu__link active" href="{{ reverse_url('problem_submit', pid=pdoc['doc_id']) }}">
            <i class="menu__icon icon-send"></i> {{ _('Test or Submit') }}
          </a></li>
          <li class="menu__item"><a class="menu__link" href="#">
            <i class="menu__icon icon-statistics"></i> {{ _('Submission Statistics') }}
          </a></li>
          <li class="menu__seperator"></li>
          <li class="menu__item"><a class="menu__link" href="{{ reverse_url('problem_solution', pid=pdoc['doc_id']) }}">
            <i class="menu__icon icon-bubble--outline"></i> {{ _('Solutions') }}
          </a></li>
          <li class="menu__item"><a class="menu__link" href="{{ reverse_url('discussion_node', node_or_pid=pdoc['doc_id']) }}">
            <i class="menu__icon icon-bubble--outline"></i> {{ _('Discussions') }}
          </a></li>
        </ul>
      </div>
    </div>
    <div class="section side">
      <div class="section__indent top bottom">
        <h1 class="section__title">{{ _('Information') }}</h1>
        <div class="section__indent left right">
          <div class="typo">
            <p>状态：{{ vj4.view.record.STATUS_TEXTS[pdoc['psdoc']['status']] }}</p>
            <p>难度：4</p>
            <p>评分：<i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star--outline"></i> (30)</p>
            <p>分类：动态规划|树形动规、高精度</p>
            <p>递交次数：140</p>
            <p>通过次数：30</p>
            <p>通过率：20%</p>
            <p>上传用户：Vijos Official</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# TODO(iceboy): psdoc #}

<!--
<div>
  <form method="post">
    <textarea name="code" rows="25" cols="80"></textarea>
    <select name="lang">
    {% for key, value in vj4.model.builtin.LANGS.items() %}
      <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
    </select>
    <input type="hidden" name="csrf_token" value="{{ view.csrf_token }}">
    <input type="submit" value="{{ _('Submit') }}">
  </form>
</div>
-->
<div>

</div>
{% endblock %}
