{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__body">
        <form method="post">
          <div class="row">
            <div class="medium-8 columns">
              <label>
                {{ _('Copy from') }}
                <input name="domain_id" placeholder="{{ _('Domain ID') }}" class="textbox" autofocus>
              </label>
            </div>
            <div class="medium-2 columns">
              <label>
                {{ _('Settings') }}
                <br>
                <label class="checkbox">
                  <input type="checkbox" name="numeric_pid" value="on" checked>{{ _('Numeric PID') }}
                </label>
              </label>
            </div>
            <div class="medium-2 columns">
              <label>
                <br>
                <label class="checkbox">
                  <input type="checkbox" name="hidden" value="on"{% if pdoc['hidden'] %} checked{% endif %}>{{ _('Hidden') }}
                </label>
              </label>
            </div>
          </div>
          <div class="row"><div class="columns">
            <label>
              {{ _('Problem ID List') }}
              <textarea name="pids" class="textbox" style="height: 300px"></textarea>
            </label>
          </div></div>
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            <button type="submit" class="rounded primary button">
              {{ _('Copy') }}
            </button>
            <button type="button" class="rounded button" onclick="window.history.go(-1)">
              {{ _('Cancel') }}
            </button>
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="section side">
      <div class="section__body typo">
        <h2>{{ _('What\'s this?') }}</h2>
        <p>{{ _('With this feature, you can copy problems that you can view from a domain to a specific domain. Title, content and other properties will be copied. Of course, test data is not included.') }}</p>
        <h2>{{ _('About test data') }}</h2>
        <p>{{ _('Although test data will not be copied, test data of copied problem will be linked to the source problem if source has test data uploaded. By uploading new test data, it will not be linked anymore. Permission of linked test data follows the original one.') }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
