{% extends "layout/basic.html" %}
{% import "components/problem.html" as problem with context %}
{% block content %}
<script>
  var Context = {{ {
    'problemId': pdoc['doc_id'],
    'postPretestUrl': reverse_url('problem_pretest', pid=pdoc['doc_id'])|string(),
    'postSubmitUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string(),
    'getSubmissionsUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string(),
  }|json|safe }};
</script>
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="problem-content">
        <div class="section__header non-scratchpad--hide">
          <h1>{{ pdoc['title'] }}</h1>
        </div>
        <div class="section__body typo">
          {{ pdoc['content']|markdown }}
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    {{ problem.render_sidebar(pdoc, udoc) }}
  </div>
</div>
<div class="scratchpad-container" style="display:none">
  <div style="display:none" class="loader-container"><div class="loader"></div></div>
  <div id="scratchpad" style="opacity:0"></div>
</div>
{% endblock %}
