{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__indent top bottom">
        <h1 class="section__title">{{ _('Problem List') }}</h1>
        <table class="section__table">
          <colgroup>
            <col class="col--status">
            <col class="col--name">
            <col class="col--submit_n">
            <col class="col--ac_rate">
            <col class="col--difficulty">
          </colgroup>
          <thead>
            <tr>
              <th class="col--status">{{ _('Status') }}</th>
              <th class="col--name">{{ _('Problem') }}</th>
              <th class="col--submit_n">{{ _('# Submit') }}</th>
              <th class="col--ac_rate">{{ _('% AC') }}</th>
              <th class="col--difficulty">{{ _('Difficulty') }}</th>
            </tr>
          </thead>
          <tbody>
          {% if not pdocs %}
            <tr class="section__table-row--empty">
              <td colspan="5">{{ _('Sorry, there is no problem in the problem set.') }}</td>
            </tr>
          {% else %}
          {% for pdoc in pdocs %}
            <tr data-pid="{{ pdoc['doc_id'] }}">
              <td class="col--status">
                {{ vj4.handler.record.STATUS_TEXTS[pdoc['psdoc'].get('status')] }}
              </td>
              <td class="col--name">
                <form method="post">
                  <input type="hidden" name="pid" value="{{ pdoc['doc_id'] }}">
                  {% if not pdoc['psdoc'].get('star') %}
                  <input type="hidden" name="operation" value="star">
                  <button class="star" type="submit"><i class="icon-star--outline"></i></button>
                  {% else %}
                  <input type="hidden" name="operation" value="unstar">
                  <button class="star activated" type="submit"><i class="icon-star"></i></button>
                  {% endif %}
                  <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
                  <a href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">
                    {{ pdoc['title'] }}
                  </a>
                </form>
              </td>
              <td class="col--submit_n">1234</td>
              <td class="col--ac_rate">50%</td>
              <td class="col--difficulty">9</td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
        {% with num_pages = (pcount + handler.PROBLEMS_PER_PAGE - 1) // handler.PROBLEMS_PER_PAGE %}
          {% include "components/paginator.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section side">
      <div class="section__indent top bottom">
        <h1 class="section__title">{{ _('Statistics') }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
