{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Problem Solution List') }}</h1>
      </div>
      <div class="section__body no-padding">
        <table class="section__table">
          <colgroup>
            <col class="col--name">
          </colgroup>
          <thead>
            <tr>
              <th class="col--name">{{ _('Problem Solution') }}</th>
            </tr>
          </thead>
          <tbody>
          {% if not psdocs %}
            <tr class="section__table-row--empty">
              <td colspan="1">{{ _('Sorry, there is no problem solution for this problem.') }}</td>
            </tr>
          {% else %}
          {% for psdoc in psdocs %}
            <tr data-psid="{{ psdoc['doc_id'] }}">
              <td>
                <div>{{ psdoc['content']|markdown }}</div>
                {% for reply in psdoc['reply'] %}
                <div>{{ reply }}</div>
                {% endfor %}
                <div>
                  <a href="{{ reverse_url('user_detail', uid=psdoc['owner_uid']) }}">
                    {{ psdoc['owner_uid'] }}
                  </a>
                </div>
                <div>
                  <span class="vote--count">{{ psdoc['vote'] }}</span>
                  <form method="post">
                    <input type="hidden" name="operation" value="upvote">
                    <input type="hidden" name="psid" value="{{ psdoc['doc_id'] }}">
                    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
                    <input type="submit" class="vote vote--upvote" value="{{ _('upvote') }}">
                  </form>
                  <form method="post">
                    <input type="hidden" name="operation" value="downvote">
                    <input type="hidden" name="psid" value="{{ psdoc['doc_id'] }}">
                    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
                    <input type="submit" class="vote vote--downvote" value="{{ _('downvote') }}">
                  </form>
                  <form method="post">
                    <input type="hidden" name="operation" value="reply">
                    <input type="hidden" name="psid" value="{{ psdoc['doc_id'] }}">
                    <textarea name="content"></textarea>
                    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
                    <input type="submit" value="{{ _('reply') }}">
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    {% include "components/problem_sidebar.html" %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Information') }}</h1>
      </div>
      <!-- TODO (swx): move to a component -->
      <div class="section__body typo">
        <p>状态：????</p>
        <p>难度：4</p>
        <p>评分：<span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star--outline"></span> (30)</p>
        <p>分类：动态规划|树形动规、高精度</p>
        <p>递交次数：140</p>
        <p>通过次数：30</p>
        <p>通过率：20%</p>
        <p>上传用户：Vijos Official</p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">TODO: <big>SWX</big> TEMPLATE</div>
<div>
  <form method="post">
    <input type="hidden" name="operation" value="submit">
    <textarea name="content"></textarea>
    <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
    <input type="submit" value="{{ _('Submit') }}">
  </form>
</div>
{% endblock %}
