{% extends "layout/basic.html" %}
{% block content %}
<script>
  var Context = {{ {
    'problemId': pdoc['doc_id']|string(),
    'postPretestUrl': reverse_url('problem_pretest', pid=pdoc['doc_id'])|string(),
    'postSubmitUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string(),
    'getSubmissionsUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string(),
  }|json|safe }};
</script>
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="problem-content">
        <div class="section__header">
          <h1>{{ pdoc['title'] }}</h1>
        </div>
        <div class="section__body typo">
          {{ pdoc['content']|markdown }}
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section side section--contest-info">
      <div class="section__header">
        <h1>春夏之交邀请赛</h1>
      </div>
      <div class="section__body">
        <p>距离结束还有 1 小时</p>
      </div>
    </div>
    {% include "components/problem_sidebar.html" %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Information') }}</h1>
      </div>
      <div class="section__body typo">
          <p>状态：{{ vj4.constant.record.STATUS_TEXTS[pdoc['psdoc']['status']] }}</p>
          <p>难度：4</p>
          <p>评分：<span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star--outline"></span> (30)</p>
          <p>分类：动态规划|树形动规、高精度</p>
          <p>递交次数：140</p>
          <p>通过次数：30</p>
          <p>通过率：20%</p>
          <p>上传用户：Vijos Official</p>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Related') }}</h1>
      </div>
      <div class="section__body typo">
        <p>以下题单收录：</p>
        <p>123abc</p>
        <p>处于以下训练计划中：</p>
        <p>123abc</p>
      </div>
    </div>
  </div>
</div>
<div class="ide-container" style="display:none">
  <div id="ide"></div>
</div>
{% endblock %}
