{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{% if page_name == 'problem_edit' %}Edit Problem{% else %}Create Problem{% endif %}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          <div class="row"><div class="medium-4 columns">
            <label>
              {{ _('Belongs to') }}
              {% if page_name == 'problem_edit' %}
              <select class="select">
                <option value="{{ handler.domain_id }}">{{ _('current domain') }} ({{ handler.domain_id }})</option>
                <option value="thu">Tsinghua University</option>
                <option value="123456">同济大学</option>
              </select>
              {% else %}
              <input value="{{ handler.domain_id }}" class="textbox" disabled>
              {% endif %}
            </label>
          </div><div class="medium-8 columns">
            <label>
              {{ _('Title') }}
              <input name="title" placeholder="{{ _('title') }}" value="{{ pdoc and pdoc['title'] }}" class="textbox" autofocus>
            </label>
          </div></div>
          <div class="row"><div class="columns">
            <label>
              {{ _('Content') }}
              <textarea name="content" class="textbox" data-markdown>{% if pdoc %}{{ pdoc['content'] }}{% else %}{% include 'components/problem_default.md' %}{% endif %}</textarea>
            </label>
          </div></div>
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            {% if page_name == 'problem_edit' %}
              <input type="submit" class="rounded primary button" value="{{ _('Update') }}">
            {% else %}
              <input type="submit" class="rounded primary button" value="{{ _('Create') }}">
            {% endif %}
            <a class="rounded button" href="javascript:window.history.go(-1)">{{ _('Cancel') }}</a>
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    {% if page_name == 'problem_edit' %}
      {% include "components/problem_sidebar.html" %}
    {% endif %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Information') }}</h1>
      </div>
      <div class="section__body">
        <p>foo bar</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
