{% extends "layout/basic.html" %}
{% block content %}
<script>
  var Context = {{ {
    'problemId': pdoc['doc_id'],
    'postPretestUrl': reverse_url('problem_pretest', pid=pdoc['doc_id'])|string(),
    'postSubmitUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string() if not tdoc else reverse_url('contest_detail_problem_submit', tid=tdoc['doc_id'], pid=pdoc['doc_id'])|string(),
    'getSubmissionsUrl': reverse_url('problem_submit', pid=pdoc['doc_id'])|string() if not tdoc else reverse_url('contest_detail_problem_submit', tid=tdoc['doc_id'], pid=pdoc['doc_id'])|string(),
    'code_lang': handler.get_setting('code_lang'),
    'code_template': handler.get_code_template(),
  }|json|safe }};
</script>
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="problem-content">
        <div class="section__header non-scratchpad--hide">
          <h1>{{ pdoc['title'] }}</h1>
        </div>
        <div class="section__body typo">
        {% if not pdoc['data'] %}
          <blockquote class="warn">
            <p>{{ _('No dataset at present.') }}</p>
          </blockquote>
        {% endif %}
          {{ pdoc['content']|markdown }}
        </div>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% with owner_udoc=udoc %}
    {% include "partials/problem_sidebar.html" %}
    {% endwith %}
  </div>
</div>
<div class="scratchpad-container" style="display:none">
  <div style="display:none" class="loader-container"><div class="loader"></div></div>
  <div id="scratchpad" style="opacity:0"></div>
</div>
{% endblock %}
