{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Judging Queue') }}</h1>
      </div>
      <div class="section__body no-padding">
        <table class="data-table record_main__table">
          <colgroup>
            <col class="col--status">
            <col class="col--problem">
            <col class="col--submit-by">
            <col class="col--submit-at">
          </colgroup>
          <thead>
            <tr>
              <th class="col--status record-status--border">{{ _('Status') }}</th>
              <th class="col--problem">{{ _('Problem') }}</th>
              <th class="col--submit-by">{{ _('Submit By') }}</th>
              <th class="col--submit-at">{{ _('Submit At') }}</th>
            </tr>
          </thead>
          <tbody>
            {% if not rdocs %}
            <tr class="empty-row">
              <td colspan="4">{{ _('Oh, there is no task in the queue!') }}</td>
            </tr>
            {% else %}
            {% for rdoc in rdocs %}
            {% with udoc = udict[rdoc['uid']], pdoc = pdict[(rdoc['domain_id'], rdoc['pid'])] %}
            {% include 'record_main_tr.html' %}
            {% endwith %}
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Statistics') }}</h1>
      </div>
      <div class="section__body">
        <p>foo bar</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
