<tr data-rid="{{ rdoc['_id'] }}">
  <td class="col--status record-status--border {{ vj4.constant.record.STATUS_CODES[rdoc['status']] }}">
    <div class="col--status__text">
      <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[rdoc['status']] }}"></span>
      <a href="{{ reverse_url('record_detail', rid=rdoc['_id'], domain_id=rdoc['domain_id']) }}" class="record-status--text {{ vj4.constant.record.STATUS_CODES[rdoc['status']] }}">
        {{ vj4.constant.record.STATUS_TEXTS[rdoc['status']] }}
      </a>
    </div>
    {% if rdoc['status'] == vj4.constant.record.STATUS_JUDGING %}
    <div class="col--status__progress-container">
      <div class="col--status__progress" style="width: 50%"></div>
    </div>
    {% endif %}
  </td>
  <td class="col--problem">
    {% if handler.has_perm(vj4.model.builtin.PERM_REJUDGE) %}
    <form class="form--inline" method="post" action="{{ reverse_url('record_rejudge', rid=rdoc['_id']) }}">
      <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
      <button type="submit" class="link text-maroon lighter">
        <span class="icon icon-refresh"></span>
        {{ _('Rejudge') }}
      </button> |
    </form>
    {% endif %}
    {% if rdoc['type'] == vj4.constant.record.TYPE_PRETEST %}
    ({{ _('Pretest') }})
    {% endif %}
    <a href="{{ reverse_url('problem_detail', pid=rdoc['pid'], domain_id=rdoc['domain_id']) }}">
      {{ rdoc['pdoc']['title'] }}
    </a>
  </td>
  <td class="col--submit-by"><a href="{{ reverse_url('user_detail', uid=rdoc['uid']) }}">{{ rdoc['udoc']['uname'] }}</a></td>
  <td class="col--submit-at">{{ datetime_span(rdoc['_id'].generation_time) }}</td>
</tr>
