{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">
          <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[rdoc['status']] }}"></span>
          <span class="record-status--text {{ vj4.constant.record.STATUS_CODES[rdoc['status']] }}">
            {{ vj4.constant.record.STATUS_TEXTS[rdoc['status']] }}
          </span>
        </h1>
      </div>
      <div class="section__body">
        <pre class="compiler-text">{{ rdoc['compiler_texts']|join('\n') }}</pre>
      </div>
      {% if rdoc['judge_texts'] %}
      <div class="section__body">
        <pre class="judge-text">{{ rdoc['judge_texts']|join('\n') }}</pre>
      </div>
      {% endif %}
      {% if rdoc['cases'] %}
      <div class="section__body no-padding">
        <table class="data-table record_detail__table">
          <colgroup>
            <col class="col--case">
            <col class="col--status">
            <col class="col--time">
            <col class="col--memory">
          </colgroup>
          <thead>
            <tr>
              <th class="col--case record-status--border">#</th>
              <th class="col--status">{{ _('Status') }}</th>
              <th class="col--time">{{ _('Time Cost') }}</th>
              <th class="col--memory">{{ _('Memory Cost') }}</th>
            </tr>
          </thead>
          <tbody>
          {% for rcdoc in rdoc['cases'] %}
            <tr>
              <td class="col--case record-status--border {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}">
                #{{ loop.index }}
              </td>
              <td class="col--status">
                <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}"></span>
                <span class="record-status--text {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}">
                  {{ vj4.constant.record.STATUS_TEXTS[rcdoc['status']] }}
                </span>
                <span>{{ rcdoc['judge_text'] }}</span>
              </td>
              <td class="col--time">{{ rcdoc['time_ms'] }}ms</td>
              <td class="col--memory">{{ rcdoc['memory_kb'] / 1000 }}MiB</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    {% if rdoc['code'] %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Code') }}</h1>
      </div>
      <div class="section__body">
        <pre><code class="language-{{ rdoc['lang'] }}">{{ rdoc['code'] }}</code></pre>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="large-3 columns">
    {% if handler.has_perm(vj4.model.builtin.PERM_REJUDGE) %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Action') }}</h1>
      </div>
      <div class="section__body no-padding">
        <ol class="menu">
          <li class="menu__item">
            <form method="post" action="{{ reverse_url('record_rejudge', rid=rdoc['_id']) }}">
              <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
              <button type="submit" class="menu__link">
                <span class="icon icon-refresh"></span> {{ _('Rejudge') }}
              </button>
            </form>
          </li>
        </ol>
      </div>
    </div>
    {% endif %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Information') }}</h1>
      </div>
      <div class="section__body typo">
        <p>
          <span class="v-center">{{ _('Submit By') }}:</span>
          {% with noModBadge = true, user = udoc, domain_user = dudoc %}
            {% include "components/inline_user.html" %}
          {% endwith %}
        </p>
        <p>
          {{ _('Type') }}: {{ _(vj4.constant.record.TYPE_TEXTS[rdoc['type']]) }}
          {% if rdoc['type'] == vj4.constant.record.TYPE_PRETEST and (handler.own(rdoc, priv=vj4.model.builtin.PRIV_READ_PRETEST_DATA_SELF, field='uid') or handler.has_priv(vj4.model.builtin.PRIV_READ_PRETEST_DATA)) %}
          / <a href="{{ reverse_url('record_pretest_data', rid=rdoc['_id']) }}">{{ _('Download Dataset') }}</a>
          {% elif rdoc['type'] == vj4.constant.record.TYPE_SUBMISSION and (handler.own(pdoc, vj4.model.builtin.PERM_READ_PROBLEM_DATA_SELF) or handler.has_perm(vj4.model.builtin.PERM_READ_PROBLEM_DATA) or handler.has_priv(vj4.model.builtin.PRIV_READ_PROBLEM_DATA)) %}
          / <a href="{{ reverse_url('problem_data', pid=pdoc['doc_id']) }}">{{ _('Download Dataset') }}</a>
          {% endif %}
        </p>
        <p>{{ _('Problem') }}: <a href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">{{ pdoc['title'] }}</a></p>
        <p>{{ _('Language') }}: {{ vj4.constant.language.LANG_TEXTS[rdoc['lang']] }}</p>
        <p>{{ _('Submit At') }}: {{ datetime_span(rdoc['_id'].generation_time) }}</p>
        {% if rdoc['judge_at'] %}
        <p>{{ _('Judged At') }}: {{ datetime_span(rdoc['judge_at']) }}</p>
        {% endif %}
        {% if rdoc['score'] %}
        <p>{{ _('Score') }}: {{ rdoc['score'] }}</p>
        {% endif %}
        <p>{{ _('Total Time') }}: {{ rdoc['time_ms'] }}ms</p>
        <p>{{ _('Peak Memory') }}: {{ rdoc['memory_kb'] / 1000 }}MiB</p>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Statistics') }}</h1>
      </div>
      <div class="section__body typo">
        <p>{{ _('Boom!') }} </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
