{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="large-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('All Training Plans') }}</h1>
        <div class="section__tools">
          {{ _('Sort by') }}:
          <select class="inline select">
            <option>{{ _('↓ # Enrollees') }}</option>
            <option>{{ _('↓ # Likes') }}</option>
            <option>{{ _('↓ # Stars') }}</option>
            <option>{{ _('↓ # Comments') }}</option>
            <option>{{ _('↓ Create Time') }}</option>
            <option>{{ _('↓ Update Time') }}</option>
          </select>
        </div>
      </div>
      <ol class="section__list all primary training__list">
        {% for tdoc in tdocs %}
        <li class="section__list__item training__item">
          <div class="media">
            <div class="media__left middle">
              <div class="training__participants numbox">
                <div class="numbox__num large">{{ tdoc['enroll'] }}</div>
                <div class="numbox__text">{{ _('Enrolled') }}</div>
              </div>
            </div>
            <div class="media__body middle">
              <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid=tdoc['doc_id']) }}" data-emoji-enabled>{{ tdoc['title'] }}</a></h1>
              <p class="training__intro">{{ tdoc['content']|markdown }}</p>
              <ul class="supplementary list training__progress">
                <li>
                  <span class="icon icon-flag text-blue"></span> {{ _('{0} sections').format(tdoc['dag']|length) }}, {{ _('{0} problems').format(handler.get_pids(tdoc)|length) }}
                </li>
                <li>
                  <span class="icon icon-heart text-red"></span> ???
                </li>
                <li>
                  <span class="icon icon-star text-yellow"></span> ???
                </li>
                <li>
                  <span class="icon icon-comment--text"></span> ???
                </li>
                <li>
                {% if not tsdict[tdoc['doc_id']]['done'] %}
                  <span class="icon training-status--icon progress"></span>
                  <span class="training-status--text progress">{{ _('Complete') }} {{ (100 * tsdict[tdoc['doc_id']]['done_pids']|length / handler.get_pids(tdoc)|length)|round|int }}%</span>
                {% else %}
                  <span class="icon training-status--icon done"></span>
                  <span class="training-status--text done">{{ _('Complete') }} 100%</span>
                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Enrolled') }}</h1>
      </div>
      <div class="section__body">
        <ol class="my secondary training__list">
        {% for tsdoc in tsdict.values() %}
          <li class="training__item"><div class="media">
            <div class="media__left">
              <span class="icon training-status--icon {% if tsdoc['done'] %}done{% else %}progress{% endif %}"></span>
            </div>
            <div class="media__body">
              <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid=tsdoc['doc_id']) }}" data-emoji-enabled>{{ tdict[tsdoc['doc_id']]['title'] }}</a></h1>
              <div class="supplementary training__progress"><div class="training__progress-bar"><div class="training__progress-track" style="width:{{ (100 * tsdoc['done_pids']|length / handler.get_pids(tdict[tsdoc['doc_id']])|length)|round|int }}%;"></div></div> {{ _('Complete') }} {{ (100 * tsdoc['done_pids']|length / handler.get_pids(tdict[tsdoc['doc_id']])|length)|round|int }}%</div>
            </div>
          </div></li>
        {% endfor %}
        </ol>
        <p class="supplementary"><a href="{{ reverse_url('training_enrolled') }}">// See Full List <span class="icon icon-chevron_right"></span></a></p>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Monthly Popular') }}</h1>
      </div>
      <div class="section__body">
        <ol class="popular secondary training__list">
          <li class="training__item">
            <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid='') }}" data-emoji-enabled>Vijos :)</a></h1>
            <ul class="supplementary list">
              <li>
                <span class="icon icon-user--multiple"></span> 30
              </li>
              <li class="training-status--text outside">
                <span class="icon training-status--icon outside"></span> 未参与
              </li>
            </ul>
          </li>
          <li class="training__item">
            <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid='') }}" data-emoji-enabled>Vijos 基础算法与数据结构8</a></h1>
            <ul class="supplementary list">
              <li>
                <span class="icon icon-user--multiple"></span> 25
              </li>
              <li class="training-status--text progress">
                <span class="icon training-status--icon progress"></span> 已完成 33%
              </li>
            </ul>
          </li>
          <li class="training__item">
            <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid='') }}" data-emoji-enabled>Vijos 基础算法与数据结构4</a></h1>
            <ul class="supplementary list">
              <li>
                <span class="icon icon-user--multiple"></span> 22
              </li>
              <li class="training-status--text outside">
                <span class="icon training-status--icon outside"></span> 未参与
              </li>
            </ul>
          </li>
          <li class="training__item">
            <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid='') }}" data-emoji-enabled>Vijos 基础算法与数据结构1</a></h1>
            <ul class="supplementary list">
              <li>
                <span class="icon icon-user--multiple"></span> 17
              </li>
              <li class="training-status--text done">
                <span class="icon training-status--icon done"></span> 已完成 100%
              </li>
            </ul>
          </li>
          <li class="training__item">
            <h1 class="training__title"><a href="{{ reverse_url('training_detail', tid='') }}" data-emoji-enabled>Vijos 基础算法与数据结构5</a></h1>
            <ul class="supplementary list">
              <li>
                <span class="icon icon-user--multiple"></span> 7
              </li>
              <li class="training-status--text outside">
                <span class="icon training-status--icon outside"></span> 未参与
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Create Training Plan') }}</h1>
      </div>
      <ol class="menu">
        <li class="menu__item">
          <a href="{{ reverse_url('training_create') }}" class="menu__link"><span class="icon icon-add"></span> New Training Plan</a>
        </li>
        <li class="menu__item">
          <a href="{{ reverse_url('training_owned') }}" class="menu__link"><span class="icon icon-crown"></span> View Owned Training Plans</a>
        </li>
      </ol>
      <div class="section__body">
        <div class="typo supplementary">
          <p>You can create your own training plans and share with others.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
