{% import "components/home.html" as home with context %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="profile-header user-profile-bg--{{ bg }}">
        <div class="profile-header__content clearfix">
          <div class="media">
            <div class="media__left">
              <img src="{{ udoc['gravatar']|gravatar_url }}" width="120" height="120" class="large user-profile-avatar">
            </div>
            <div class="media__body profile-header__main">
              <h1>{{ udoc['uname'] }} <small>({{ _('UID') }}: {{ udoc['_id'] }}) {% if handler.get_udoc_setting(udoc, 'gender') != none %}{{ vj4.constant.model.USER_GENDER_RANGE[handler.get_udoc_setting(udoc, 'gender')] }}{% endif %}</small>{% if is_self_profile %} <small><a href="{{ reverse_url('home_account') }}#setting_info">[{{ _('Edit') }}]</a></small>{% endif %}</h1>
              <p>
                {{ _('Registered at') }} {{ datetime_span(udoc['regat']) }},
                {{ _('last login at') }} {{ datetime_span(udoc['loginat']) }},
              {% if sdoc %}
                {{ _('last active at') }} {{ datetime_span(sdoc['update_at']) }}.
              {% else %}
                {{ _('currently offline') }}.
              {% endif %}
              </p>
              <p>{{ _('Solved {0} problems, RP: {1} (No. {2})').format(dudoc['num_accept']|default(0), dudoc['rp']|default(0.0)|round(2), dudoc['rank']|default('?')) }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-content">
        <div class="section__tab-container immersive">
          <ul class="section__tabs">
            <li class="section__tab-item">
              <h1 class="section__tab-title">{{ _('Submissions') }} ({{ dudoc['num_submit']|default(0) }})</h1>
              <div class="section__tab-main">
              <p><a href="{{ reverse_url('record_main') }}?uid_or_name={{ udoc['_id'] }}">{{ _('All Submissions') }}</a></p>
              {% for rdoc in rdocs %}
                <p><a href="{{ reverse_url('record_detail', rid=rdoc['_id'], domain_id=rdoc['domain_id']) }}">R{{ rdoc['_id'] }}</a></p>
              {% endfor %}
              </div>
            </li>
            <li class="section__tab-item">
              <h1 class="section__tab-title">{{ _('Problems') }} ({{ pcount }})</h1>
              <div class="section__tab-main">
              {% for pdoc in pdocs %}
                <p><a href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">{{ pdoc['title'] }}</a></p>
              {% endfor %}
              </div>
            </li>
            <li class="section__tab-item">
              <h1 class="section__tab-title">{{ _('Solutions') }} ({{ pscount }})</h1>
              <div class="section__tab-main">
              {% for psdoc in psdocs %}
                <p><a href="{{ reverse_url('problem_solution', pid=psdoc['parent_doc_id']) }}">PS{{ psdoc['doc_id'] }}</a></p>
              {% endfor %}
              </div>
            </li>
            <li class="section__tab-item">
              <h1 class="section__tab-title">{{ _('Discussions') }} ({{ dcount }})</h1>
              <div class="section__tab-main">
              {% for ddoc in ddocs %}
                <p><a href="{{ reverse_url('discussion_detail', did=ddoc['doc_id']) }}">{{ ddoc['title'] }}</a></p>
              {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
  {% if is_self_profile %}
    {{ home.render_sidebar() }}
  {% endif %}
    <div class="section side">
      <div class="section__body">
        <div class="balancer sidebar-user-stat">
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">{{ dudoc['num_accept'] or 0 }}</div>
              <div class="numbox__text">{{ _('Accepted') }}</div>
            </div>
          </div>
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">{{ dudoc['num_liked'] or 0 }}</div>
              <div class="numbox__text">{{ _('Solutions Liked') }}</div>
            </div>
          </div>
          <div class="balancer__body">
            <div class="numbox">
              <div class="numbox__num medium">{{ dudoc['num_problems'] or 0 }}</div>
              <div class="numbox__text">{{ _('Upload Problem') }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% if handler.can_view(udoc, 'bio') %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Bio') }}{% if is_self_profile %} <small><a href="{{ reverse_url('home_account') }}#setting_info">[{{ _('Edit') }}]</a></small>{% endif %}</h1>
      </div>
      <div class="section__body typo">
        {{ udoc['bio']|default('')|markdown }}
      </div>
    </div>
  {% endif %}
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Contact') }}{% if is_self_profile %} <small><a href="{{ reverse_url('home_account') }}#setting_info">[{{ _('Edit') }}]</a></small>{% endif %}</h1>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
        {% if email != none %}
          <dt>{{ _('Email') }}</dt><dd>{{ email }}</dd>
        {% endif %}
        {% if handler.can_view(udoc, 'qq') and udoc['qq'] %}
          <dt>{{ _('QQ') }}</dt><dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ udoc['qq'] }}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{{ udoc['qq'] }}:52" alt="{{ _('Click here to chat with me') }}" title="{{ _('Click here to chat with me') }}"/></a> {{ udoc['qq'] }}</dd>
        {% endif %}
        {% if handler.can_view(udoc, 'wechat') and udoc['wechat'] %}
          <dt>{{ _('WeChat') }}</dt><dd>{{ udoc['wechat'] }}</dd>
        {% endif %}
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
