{% extends "layout/wiki_base.html" %}
{% block wiki_content %}
    <div class="section" data-heading-extract-to="#menu-item-wiki_help">
      <div class="section__header">
        <h1 class="section__title" id="about" data-heading>{{ _('About Vijos') }}</h1>
      </div>
      <div class="section__body typo">
        <p>Vijos 全称为Velocious Informatics Judge Online System (高效信息学在线评测系统)，致力于为用户提供完善、开放、安全的在线评测及题目交流等服务。</p>
        <p>Vijos是一个非营利性网站，由湖南师范大学附属中学和北京八十中共同赞助。</p>
      </div>
    </div>
{% endblock %}
