# # # # # # # # # # # # # # # # # # #
#    Vijos Environment Variables    #
#                                   #
#  Just replace `_` to `-` in       #
#  command-line parameter name,     #
#  uppercase them and add a prefix  #
#  `VJ_`.                           #
#                                   #
#       It's useful in Docker!      #
# # # # # # # # # # # # # # # # # # #

#===================================
# --listen
# Server listening address
#===================================
# Default: http://127.0.0.1:8888
# Example:
#   unix:/var/run/vj4.sock
#   http://0.0.0.0:80
#
# ./data/run is
#   /var/run/vj4 in the container
# You should expose ports manually
#   if you are using port listening
#===================================
VJ_LISTEN=unix:/var/run/vj4/web.sock
#===================================
# --listen-owner
# Owner of the socket when server
#   is listening to a unix socket.
#===================================
# Default: www-data
#===================================
VJ_LISTEN_OWNER=www-data
#===================================
# --listen-group
# Group of the socket when server
#   is listening to a unix socket.
#===================================
# Default: www-data
#===================================
VJ_LISTEN_GROUP=www-data
#===================================
# --listen-mode
# File mode of the socket when
#   server is listening to a
#   unix socket.
#===================================
# Default: 660
#===================================
VJ_LISTEN_MODE=660

#===================================
# --prefork
# Number of prefork workers
#===================================
# Default: 1
#===================================
# VJ_PREFORK=4

#===================================
# --db-host
# MongoDB Host
#===================================
# Default: localhost
# Use "mongodb" if you are using
#   default docker-compose.yml
#===================================
VJ_DB_HOST=mongodb
#===================================
# --db-name
# Database name in MongoDB
#===================================
# Default: test
#===================================
VJ_DB_NAME=vijos4

#===================================
# --mq-host
# AMQP Host
#===================================
# Default: localhost
# Use "rabbitmq" if you are using
#   default docker-compose.yml
#===================================
VJ_MQ_HOST=rabbitmq
#===================================
# --mq-vhost
# AMQP vhost
#===================================
# Default: /
#===================================
# VJ_MQ_VHOST=/

#===================================
# --ip-header
# HTTP header which is used by proxy
#   to pass real user IP
#===================================
# VJ_IP_HEADER=X-Real-IP

#===================================
# --url-prefix
# URL prefix
#===================================
# Default: https://vijos.org
#===================================
# VJ_URL_PREFIX=http://127.0.0.1

#===================================
# --cdn-prefix
# CDN prefix
#===================================
# Default: /
#===================================
# VJ_CDN_PREFIX=/

#===================================
# --default-locale
#===================================
# Default: zh_CN
#===================================
# VJ_DEFAULT_LOCALE=zh_CN


#===================================
# --smallcache-max-entries
# Maximum number of
#   entries in smallcache.
#===================================
# Default: 64
#===================================
# VJ_SMALLCACHE_MAX_ENTRIES=64
#===================================
# --unsaved-session-expire-seconds
# Expire time for
#   unsaved session, in seconds.
#===================================
# Default: 43200
#===================================
# VJ_UNSAVED_SESSION_EXPIRE_SECONDS=43200
#===================================
# --saved-session-expire-seconds
# Expire time for
#   saved session, in seconds.
#===================================
# Default: 2592000
#===================================
# VJ_SAVED_SESSION_EXPIRE_SECONDS=2592000
#===================================
# --registration-token-expire-seconds
# Expire time for
#   registration token, in seconds.
#===================================
# Default: 86400
#===================================
# VJ_REGISTRATION_TOKEN_EXPIRE_SECONDS=86400
#===================================
# --lostpass-token-expire-seconds
# Expire time for
#   lostpass token, in seconds.
#===================================
# Default: 3600
#===================================
# VJ_LOSTPASS_TOKEN_EXPIRE_SECONDS=3600
#===================================
# --changemail-token-expire-seconds
# Expire time for
#   changemail token, in seconds.
#===================================
# Default: 3600
#===================================
# VJ_CHANGEMAIL_TOKEN_EXPIRE_SECONDS=3600

#===================================
# VJ_CMDLINE_FLAGS
# This is only for setting boolean
#   flags like
#   `--pretty` `--no-debug`.
# Split with spaces.
#===================================
# VJ_CMDLINE_FLAGS=--no-syslog --static
