aiohttp>=3.6.0,<3.8.0
jinja2>=2.9.0
sockjs>=0.7.0,<0.10.0
misaka
accept
aioamqp
git+https://github.com/LukeXuan/aiosmtplib # custom aiosmtlib with ssl support
pytz
coloredlogs
httpagentparser
geoip2
GitPython
PyYAML
git+https://github.com/iceboy233/aiomongo
yarl
aiohttp-sentry
