aiohttp>=1.2.0
jinja2==2.7.3  # there is performance bug in 2.8
sockjs>=0.5.0
motor
hoedown
accept
aioamqp
git+https://github.com/LukeXuan/aiosmtplib #custom aiosmtlib with ssl support
pytz
colorlog
httpagentparser
geoip2
GitPython
PyYAML
