aiohttp>=2.0.6
jinja2>=2.9.0
# sockjs at head supports aiohttp 2.0, but not released yet.
git+https://github.com/aio-libs/sockjs.git
motor
hoedown
accept
aioamqp
git+https://github.com/LukeXuan/aiosmtplib # custom aiosmtlib with ssl support
pytz
colorlog
httpagentparser
geoip2
GitPython
PyYAML
