.record-status--text
  for key, value in $record-status-color
    &.{key}
      color: value !important

.record-status--icon
  display: inline-block
  vertical-align: top
  width: 18px
  for key, value in $record-status-icon
    &.{key}:before
      content: value
      color: $record-status-color[key]

.record-status--border
  border-left: 3px solid transparent
  for key, value in $record-status-color
    &.{key}
      border-left: 3px solid lighten(value, 10%)
