@import './var.inc.styl'
@import '../navigation/var.inc.styl'

$header-gap-mini = ($header-bg-height-mini - $nav-item-height - $header-logo-height) / 2

.header
  position: relative
  height: rem($header-bg-height)
  background: #5eafca url(./header-background.png) no-repeat center top
  transition: height .5s
  transition-timing-function: ease-out-cubic
  overflow: hidden
  +retina()
    background-image: url(./header-background.png)
    background-size: rem($header-bg-width $header-bg-height)
  +mobile()
    .header-content
      text-align: center

  &.mini
    height: rem($header-bg-height-mini)

.header__layer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: rem($header-layer-height)
  background: rgba(#000, 0.5)

.header.mini .header__layer
  display: none

.header__logo
  display: block
  width: rem($header-logo-width)
  height: rem($header-logo-height + $header-gap-mini + $nav-item-height)
  background: url(header-logo.png) no-repeat
  background-position: 0 rem($header-gap-mini + $nav-item-height)
  transition: transform .5s, opacity .5s
  transition-timing-function: ease-out-cubic
  transform-origin: 0 0
  opacity: 1
  +retina()
    background-image: url(./header-logo@2x.png)
    background-size: rem($header-logo-width $header-logo-height)
  +mobile()
    display: inline-block

.location-path
  color: rgba(#FFF, 0.3)
  line-height: rem(30px)
  margin-top: rem(10px)
  a, a:visited
    color: rgba(#FFF, 0.6)
  a:hover
    color: rgba(#FFF, 0.9)

.location-current
  color: #9ad4f1
  line-height: rem(40px)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.header--collapsed

  #panel
    padding-top: $header-bg-height

  .header
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 0

  .header__logo
    transform: scale(0)
    opacity: 0
