$header-layer-height = 100px
$header-bg-width = 1920px
$header-bg-height = 320px
$header-bg-height-mini = $header-bg-height - $header-layer-height
$header-logo-width = 280px
$header-logo-height = 150px
