.pager
  margin-bottom: rem(20px)
  border-top: 2px solid #EEE
  text-align: center
  font-size: 0.8rem

  li
    display: inline-block
    margin-top: -2px

.pager__item
  display: inline-block
  padding: rem(10px)
  text-decoration: none
  border: 0
  color: #a7a7a7
  border-top: 2px solid #EEE

  &.link:hover
    border-color: #CCC
    text-decoration: none
    color: #666

  &.current
    color: $primary-color
    border-color: $primary-color
