$upvote-color = green
$downvote-color = red

.dczcomments__item .is-editing
  [name="dczcomments__dummy-box"]
    display: none
  > .typo
    display: none

.dczcomments__box .textbox
  height: rem(180px)
  resize: vertical

.textbox[name="dczcomments__dummy-box"]
  height: rem(60px)
  resize: none
  font-size: rem($font-size-title)
  color: #AAA
  padding: rem(10px)

.dczcomments__item,
.dczcomments__reply
  border-top: 1px solid $table-border-color

  >.media
    padding: rem(20px 0)

  &:first-child
    border-top: 0

.dczcomments__supplementary
  float: left
  font-size: rem($font-size-secondary)
  line-height: 1
  color: lighten($text-color, 50%)
  margin-bottom: rem(5px)

.dczcomments__operations
  font-size: rem($font-size)
  float: right
  vertical-align: top
  color: lighten($text-color, 30%)

  a, a:visited
    color: lighten($text-color, 50%)
    margin-left: rem(3px)
  a:hover
    color: $primary-color
    text-decoration: none

.view--solution .dczcomments__replies
  margin-left: rem(50px)

.dczcomments__item
  .vote-number
    width: rem(60px)
    text-align: center
    font-size: rem(25px)
    font-weight: 300
    margin-bottom: rem(10px)

  .vote-op
    position: relative

    &>form
      width: 50%
      float: left
      position: relative

  .vote-button
    appearance: none
    border: 0
    background: none
    width: 100%
    outline: 0
    font-size: rem(12px)
    line-height: 1
    padding: rem(3px 0)
    color: #AAA
    border: 1px solid transparent
    transition: color .1s linear, background-color .1s linear

    &.upvote
      &:hover
        background: transparent
        color: $upvote-color

      &.active
        background: lighten($upvote-color, 50%)
        color: #FFF

    &.downvote
      &:hover
        background: transparent
        color: $downvote-color

      &.active
        background: lighten($downvote-color, 50%)
        color: #FFF

+mobile()
  .dczcomments__item
    .media__left
      display: none
