.dczcomments__item .is-editing
  .dczcomments__dummy-box
    display: none
  > .typo
    display: none

.dczcomments__box .textbox
  height: rem(180px)
  resize: vertical

.dczcomments__dummy-box.textbox
  height: rem(60px)
  resize: none
  font-size: rem($font-size-title)
  color: #AAA
  padding: 10px

.dczcomments__item,
.dczcomments__reply
  padding: rem(20px) 0
  border-top: 1px solid $bg-color

.dczcomments__item:first-child
  border-top: 0

.dczcomments__supplementary
  float: left
  font-size: rem($font-size-secondary)
  line-height: 1
  color: lighten($text-color, 50%)
  margin-bottom: rem(5px)

.dczcomments__operations
  font-size: rem($font-size)
  float: right
  vertical-align: top
  color: lighten($text-color, 30%)

  a, a:visited
    color: lighten($text-color, 50%)
    margin-left: rem(3px)
  a:hover
    color: $primary-color
    text-decoration: none

.dczcomments__replies
  margin-top: rem(20px)

  &:empty
    display: none
