.discussion__supplementary
  font-size: rem($font-size-secondary)
  line-height: 1
  color: lighten($text-color, 50%)

  li
    display: inline-block
    margin-right: rem(10px)

  a, a:visited, a:hover
    color: lighten($text-color, 60%)
