@import '~misc/section.inc.styl'

.dczlist__item
  padding: rem($section-gap-v $section-gap-h)
  padding-left: rem(5px)
  border-bottom: 1px solid $bg-color
  border-left: 5px solid transparent

  &.highlight
    border-left: 5px solid $highlight-color

  &:last-child
    border-bottom: 0

.dczlist__title
  font-size: rem($font-size-title)
  line-height: 1.2em
  margin-bottom: rem(10px)

  a, a:hover
    color: $text-color

  a:visited
    color: lighten($text-color, 60%)

.dczlist__supplementary
  font-size: rem($font-size-secondary)
  line-height: 1
  color: lighten($text-color, 50%)

  a, a:visited, a:hover
    color: lighten($text-color, 60%)

  a.dczlist__reply-link, a.dczlist__reply-link:hover
    color: $primary-color
  a.dczlist__reply-link:visited
    color: lighten($text-color, 60%)

.dczlist__reply_n
  width: rem(70px)

  a
    color: #222

    &:visited
      color: #CCC

    &:hover
      color: $primary-color
      text-decoration: none

+mobile()
  .dczlist__item .media__left
    display: none
