.dcznode-tag
  font-size: rem($font-size-small)
  display: inline-block
  line-height: rem(20px)
  padding: rem(0 5px)
  color: #888
  vertical-align: middle
  background: #F4F4F4

  &:hover
    background: $primary-color
    color: #FFF !important
    text-decoration: none

  .icon
    margin-right: rem(5px)
    opacity: 0.9

.dcznode-bg
  height: 0
  box-sizing: content-box
  padding-bottom: 40%
  background-size: cover
  background-position: left center
  background-repeat: no-repeat

  for id in 'qa' 'share' 'vijos' 'solution' 'advice'
    &.{id}
      background-image: url('./bg/nodes_' + id + '.png')
      +retina()
        background-image: url('./bg/nodes@2x_' + id + '.png')

  +below(rupture.desktop-cutoff)
    display: none
