.dcznode-tag
  font-size: rem($font-size-small)
  display: inline-block
  line-height: rem(24px)
  padding: rem(0 10px)
  vertical-align: middle
  border-radius: rem(13px)
  border: 1px solid #EEE

  &:hover
    background: $primary-color
    color: #FFF !important
    text-decoration: none
    border-color: $primary-color

  .icon
    margin-right: rem(5px)

.dcznode-bg
  height: 0
  box-sizing: content-box
  padding-bottom: 40%
  background-size: cover
  background-position: left center
  background-repeat: no-repeat

  for id in 'qa' 'share' 'vijos' 'solution' 'advice'
    &.{id}
      background-image: url('./bg/nodes_' + id + '.png')
      +retina()
        background-image: url('./bg/nodes@2x_' + id + '.png')

  +below(rupture.desktop-cutoff)
    display: none
