.ide-pane
  display: flex
  flex-direction: column
  flex: 1

.ide-pane__title
  background: $primary-color
  line-height: rem(34px)
  padding: 0 5px
  font-size: 0.9rem
  color: #FFF

.ide-pane__content
  flex: 1
