@import './var.inc.styl'

.ide-pane
  display: flex
  flex-direction: column
  flex: 1
  width: 100%

.ide-pane-title
  background: $primary-color
  line-height: rem($pane-header-height)
  padding: rem(0 5px)
  font-size: 0.8rem
  color: #FFF

.ide-pane-content
  display: flex
  flex-direction: column
  flex: 1
