html, body
  height: 100%

.autoexpand__container
  display: table
  width: 100%
  height: 100%

.autoexpand__expand
  display: table-row
  height: auto

.autoexpand__collapse
  display: table-row
  height: 1px
