.nothing-placeholder
  padding: 80px 0
  text-align: center
  font-size: 1.1rem
  color: #AAA

.nothing-icon
  background: url(./sad_twd2.svg) no-repeat center center
  height: 184px
  margin-bottom: 20px
