@import 'section.inc.styl'

.immersive-section, .section
  margin-bottom: rem($section-margin)

  &::before, &::after
    content: ' '
    display: table

  &.side
    font-size: rem($font-size-secondary)

.section
  background: #FFF
  box-shadow: 0 2px 2px rgba(#000, 0.2)

.section__header
  padding: rem($section-gap-v) rem($section-gap-h) 0.7em

.section__body
  padding: 0.7em rem($section-gap-h)

  &:first-child
    padding-top: rem($section-gap-v)

  &:last-child
    padding-bottom: rem($section-gap-v)

  &.no-padding
    padding-left: 0
    padding-right: 0

.section__footer
  border-top: 1px solid $bg-color
  padding: rem($section-gap-h)

.section__title
  color: #666

h1.section__title
  font-size: 1.4rem

h2.section__title
  font-size: 1.2rem

h3.section__title
  font-size: 1rem
