@font-face
    font-family 'icomoon'
    src url(icomoon-font-path + '/icomoon.eot?6eriuj')
    src url(icomoon-font-path + '/icomoon.eot?6eriuj#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?6eriuj') format('truetype'), url(icomoon-font-path + '/icomoon.woff?6eriuj') format('woff'), url(icomoon-font-path + '/icomoon.svg?6eriuj#icomoon') format('svg')
    font-weight normal
    font-style normal

.icon
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-bold
    &:before
        content icon-bold
.icon-italic
    &:before
        content icon-italic
.icon-quote
    &:before
        content icon-quote
.icon-insert--link
    &:before
        content icon-insert--link
.icon-insert--image
    &:before
        content icon-insert--image
.icon-unordered_list
    &:before
        content icon-unordered_list
.icon-ordered_list
    &:before
        content icon-ordered_list
.icon-preview
    &:before
        content icon-preview
.icon-help
    &:before
        content icon-help
.icon-formula
    &:before
        content icon-formula
.icon-twitter
    &:before
        content icon-twitter
.icon-wechat
    &:before
        content icon-wechat
.icon-qq
    &:before
        content icon-qq
.icon-google_plus
    &:before
        content icon-google_plus
.icon-facebook
    &:before
        content icon-facebook
.icon-github
    &:before
        content icon-github
.icon-linkedin
    &:before
        content icon-linkedin
.icon-mail
    &:before
        content icon-mail
.icon-link
    &:before
        content icon-link
.icon-hourglass
    &:before
        content icon-hourglass
.icon-schedule
    &:before
        content icon-schedule
.icon-check
    &:before
        content icon-check
.icon-close
    &:before
        content icon-close
.icon-chevron_left
    &:before
        content icon-chevron_left
.icon-chevron_right
    &:before
        content icon-chevron_right
.icon-expand_less
    &:before
        content icon-expand_less
.icon-expand_more
    &:before
        content icon-expand_more
.icon-enlarge
    &:before
        content icon-enlarge
.icon-shrink
    &:before
        content icon-shrink
.icon-send
    &:before
        content icon-send
.icon-statistics
    &:before
        content icon-statistics
.icon-bubble--outline
    &:before
        content icon-bubble--outline
.icon-bubble
    &:before
        content icon-bubble
.icon-wrench
    &:before
        content icon-wrench
.icon-edit
    &:before
        content icon-edit
.icon-delete
    &:before
        content icon-delete
.icon-flag
    &:before
        content icon-flag
.icon-reply
    &:before
        content icon-reply
.icon-favourite
    &:before
        content icon-favourite
.icon-star--outline
    &:before
        content icon-star--outline
.icon-star
    &:before
        content icon-star
.icon-play
    &:before
        content icon-play
.icon-debug
    &:before
        content icon-debug
.icon-search
    &:before
        content icon-search
.icon-download
    &:before
        content icon-download
.icon-upload
    &:before
        content icon-upload
.icon-warning
    &:before
        content icon-warning
.icon-block
    &:before
        content icon-block
.icon-settings
    &:before
        content icon-settings
.icon-message
    &:before
        content icon-message
.icon-global
    &:before
        content icon-global
.icon-tag
    &:before
        content icon-tag

