@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?g8wx8f');
    src:    url('fonts/icomoon.eot?g8wx8f#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?g8wx8f') format('truetype'),
        url('fonts/icomoon.woff?g8wx8f') format('woff'),
        url('fonts/icomoon.svg?g8wx8f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bold:before {
    content: "\e200";
}
.icon-italic:before {
    content: "\e201";
}
.icon-quote:before {
    content: "\e202";
}
.icon-insert--link:before {
    content: "\e203";
}
.icon-insert--image:before {
    content: "\e204";
}
.icon-unordered_list:before {
    content: "\e205";
}
.icon-ordered_list:before {
    content: "\e206";
}
.icon-preview:before {
    content: "\e207";
}
.icon-help:before {
    content: "\e208";
}
.icon-formula:before {
    content: "\e209";
}
.icon-twitter:before {
    content: "\e220";
}
.icon-wechat:before {
    content: "\e221";
}
.icon-qq:before {
    content: "\e222";
}
.icon-google_plus:before {
    content: "\e223";
}
.icon-facebook:before {
    content: "\e224";
}
.icon-github:before {
    content: "\e225";
}
.icon-linkedin:before {
    content: "\e226";
}
.icon-mail:before {
    content: "\e227";
}
.icon-link:before {
    content: "\e228";
}
.icon-hourglass:before {
    content: "\e230";
}
.icon-schedule:before {
    content: "\e231";
}
.icon-check:before {
    content: "\e232";
}
.icon-close:before {
    content: "\e233";
}
.icon-chevron_left:before {
    content: "\e234";
}
.icon-chevron_right:before {
    content: "\e235";
}
.icon-expand_less:before {
    content: "\e236";
}
.icon-expand_more:before {
    content: "\e237";
}
.icon-enlarge:before {
    content: "\e240";
}
.icon-shrink:before {
    content: "\e241";
}
.icon-send:before {
    content: "\e242";
}
.icon-statistics:before {
    content: "\e243";
}
.icon-bubble--outline:before {
    content: "\e244";
}
.icon-bubble:before {
    content: "\e245";
}
.icon-wrench:before {
    content: "\e246";
}
.icon-edit:before {
    content: "\e247";
}
.icon-delete:before {
    content: "\e248";
}
.icon-flag:before {
    content: "\e249";
}
.icon-reply:before {
    content: "\e24a";
}
.icon-favourite:before {
    content: "\e24b";
}
.icon-star--outline:before {
    content: "\e24c";
}
.icon-star:before {
    content: "\e24d";
}
.icon-play:before {
    content: "\e24e";
}
.icon-debug:before {
    content: "\e24f";
}
.icon-search:before {
    content: "\e250";
}
.icon-download:before {
    content: "\e251";
}
.icon-upload:before {
    content: "\e252";
}
.icon-warning:before {
    content: "\e253";
}
.icon-block:before {
    content: "\e254";
}
.icon-settings:before {
    content: "\e255";
}
.icon-message:before {
    content: "\e256";
}
.icon-global:before {
    content: "\e25c";
}
.icon-tag:before {
    content: "\e25d";
}

