{% macro select(items, name='', value='', disabled=false, required=false, autofocus=false, class=None) %}
<select
  class="select{% if class %} {{ class }}{% endif %}"
  name="{{ name }}"
  {% if disabled %}disabled{% endif %}
  {% if required %}required{% endif %}
  {% if autofocus %}autofocus data-autofocus{% endif %}
>
{% for k, v in items %}
  <option value="{{ k }}"{% if value == k %} selected{% endif %}>
    {{ _(v) }}
  </option>
{% endfor %}
</select>
{% endmacro %}

{% macro text(name='', value='', placeholder='', type='text', disabled=false, required=false, autofocus=false, class=None) %}
<input
  type="{{ type }}"
  class="textbox{% if class %} {{ class }}{% endif %}"
  name="{{ name }}"
  value="{{ value }}"
  placeholder="{{ placeholder }}"
  {% if disabled %}disabled{% endif %}
  {% if required %}required{% endif %}
  {% if autofocus %}autofocus data-autofocus{% endif %}
>
{% endmacro %}
