<span class="user-profile-link inlined v-center">
  {% if not noAvatar %}
  <img class="v-center small user-profile-avatar" src="{{ user['gravatar']|gravatar_url }}" width="20" height="20">
  {% endif %}
  <a class="v-center user-profile-name" href="{{ reverse_url('user_detail', uid=user['_id']) }}">{{ user['uname'] }}</a>
  {% if not noBadge %}
  <a class="v-center user-profile-badge badge--lv{{ domain_user['level']|default(0) }}" href="{{ reverse_url('user_detail', uid=user['_id']) }}" title="LV {{ domain_user['level']|default(0) }}: Top {{ vj4.model.builtin.LEVELS[domain_user['level']|default(0)] }}%">LV {{ domain_user['level']|default(0) }}</a>
  {% if not noModBadge and handler.udoc_has_perm(user, vj4.model.builtin.PERM_MOD_BADGE) %}
  <span class="v-center user-profile-badge badge--mod" title="Moderator">MOD</span>
  {% endif %}
  {% endif %}
</span>
