{% macro nav_item(target_page_name, target_page_prefix) %}
<li class="nav__list-item">
  <a href="{{ reverse_url(target_page_name) }}" class="nav__item{% if page_name.startswith(target_page_prefix) %} nav--active{% endif %}">
    {{ _(target_page_name) }}
  </a>
</li>
{% endmacro %}
<nav class="nav slideout-menu" id="menu">
  <div class="row"><div class="columns clearfix">
    <ol class="nav__list nav__list--main clearfix">
      <li class="nav__list-item"><a href="{{ reverse_url('main', domain_id=vj4.model.builtin.DOMAIN_ID_SYSTEM) }}" class="nav__logo">&nbsp;</a></li>
      {{ nav_item('main', 'main') }}
      {{ nav_item('problem_main', 'problem') }}
      {{ nav_item('training_main', 'training') }}
      {{ nav_item('discussion_main', 'discussion') }}
      {{ nav_item('contest_main', 'contest') }}
    </ol>
    <ol class="nav__list nav__list--secondary clearfix">
    {% if handler.user == vj4.model.builtin.USER_GUEST %}
      <li class="nav__list-item"><a href="{{ reverse_url('user_login') }}" class="nav__item command--nav-login">{{ _('Login') }}</a></li>
      <li class="nav__list-item"><a href="{{ reverse_url('user_register') }}" class="nav__item--round command--nav-signup">{{ _('Sign Up') }}</a></li>
    {% else %}
      <li class="nav__list-item dropdown-trigger" data-dropdown-target="#menu-nav-user" data-dropdown-trigger-desktop-only>
        <a href="{{ reverse_url('user_detail', uid=handler.user['_id']) }}" class="nav__item">{{ handler.user['uname'] }} <span class="icon icon-expand_more"></span></a>
        <ol class="dropdown-target menu" id="menu-nav-user">
          <li class="menu__item"><a href="{{ reverse_url('user_detail', uid=handler.user['_id']) }}" class="menu__link">{{ _('My Profile') }}</a></li>
          <li class="menu__item"><a href="{{ reverse_url('home_messages') }}" class="menu__link">{{ _('Messages') }}</a></li>
          <li class="menu__seperator"></li>
          <li class="menu__item"><a href="{{ reverse_url('home_account') }}" class="menu__link">{{ _('My Account') }}</a></li>
          <li class="menu__item"><a href="{{ reverse_url('home_security') }}" class="menu__link">{{ _('Security Settings') }}</a></li>
          <li class="menu__seperator"></li>
          <li class="menu__item"><a href="{{ reverse_url('user_logout') }}" class="menu__link command--nav-logout">{{ _('Logout') }}</a></li>
        </ol>
      </li>
    {% endif %}
    </ol>
  </div></div>
</nav>
<nav class="nav--shadow"></nav>
