<div class="section side section--problem__contest-info">
  <div class="section__header">
    <h1>春夏之交邀请赛</h1>
  </div>
  <div class="section__body">
    <p>距离结束还有 1 小时</p>
  </div>
</div>
<div class="section side section--problem-sidebar">
  {% if page_name != 'problem_detail' %}
  <div class="section__header">
    <h1 class="section__title">{{ pdoc['title'] }}</h1>
  </div>
  {% endif %}
  <div>
    <ul class="menu">
      {% if page_name == 'discussion_node' %}
      <li class="menu__item"><a class="menu__link highlight" href="{{ reverse_url('discussion_create', node_or_pid=pdoc['doc_id']) }}">
        <span class="icon icon-add"></span> {{ _('Create a discussion') }}
      </a></li>
      <li class="menu__seperator"></li>
      {% endif %}
      {% if page_name == 'problem_detail' %}
      <li class="menu__item scratchpad--hide"><a class="menu__link highlight action--problem-sidebar__open-scratchpad" href="javascript:;">
        <span class="icon icon-enlarge"></span> {{ _('Open Scratchpad') }}
      </a></li>
      <li class="menu__item non-scratchpad--hide"><a class="menu__link action--problem-sidebar__quit-scratchpad" href="javascript:;">
        <span class="icon icon-enlarge"></span> {{ _('Quit Scratchpad') }}
      </a></li>
      {% else %}
      <li class="menu__item"><a class="menu__link" href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">
        <span class="icon icon-flag"></span> {{ _('View Problem') }}
      </a></li>
      {% endif %}
      <li class="menu__seperator"></li>
      <li class="menu__item scratchpad--hide"><a class="menu__link{% if page_name == 'problem_submit' %} active{% endif %}" href="{{ reverse_url('problem_submit', pid=pdoc['doc_id']) }}">
        <span class="icon icon-send"></span> {{ _('Submit') }}
      </a></li>
      <li class="menu__item"><a class="menu__link" href="#">
        <span class="icon icon-statistics"></span> {{ _('Submission Statistics') }}
      </a></li>
      <li class="menu__seperator"></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'discussion_node' %} active{% endif %}" href="{{ reverse_url('discussion_node', node_or_pid=pdoc['doc_id']) }}">
        <span class="icon icon-bubble--outline"></span> {{ _('Discussions') }}
      </a></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_solution' %} active{% endif %}" href="{{ reverse_url('problem_solution', pid=pdoc['doc_id']) }}">
        <span class="icon icon-bubble--outline"></span> {{ _('Solutions') }}
      </a></li>
      <li class="menu__seperator"></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_edit' %} active{% endif %}" href="{{ reverse_url('problem_edit', pid=pdoc['doc_id']) }}">
        <span class="icon icon-edit"></span>  {{ _('Edit') }}
      </a></li>
      <li class="menu__item"><a class="menu__link" href="#">
        <span class="icon icon-wrench"></span> {{ _('Settings') }}
      </a></li>
    </ul>
  </div>
</div>
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Information') }}</h1>
  </div>
  <div class="section__body typo">
    <p>{{ _('Status') }}: {% if pdoc['psdoc']['status'] %}<a href="{{ reverse_url('record_detail', rid=pdoc['psdoc']['rid']) }}">{{ vj4.constant.record.STATUS_TEXTS[pdoc['psdoc']['status']] }}</a>{% else %}{{ _('(None)') }}{% endif %}</p>
    <p>{{ _('Difficulty') }}: {{ pdoc['diff'] }}</p>
    <p>{{ _('Vote') }}: <span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star--outline"></span> (30)</p>
    <p>{{ _('Category') }}: 动态规划 | 树形动规、高精度</p>
    <p>{{ _('Submit') }}: {{ pdoc['num_submit'] }}</p>
    <p>{{ _('Accepted') }}: {{ pdoc['num_accept'] }}</p>
    <p>{{ _('Accepted Rate') }}: {% if pdoc['num_submit'] > 0 %}{{ (100 * pdoc['num_accept'] / pdoc['num_submit'])|round|int }}%{% else %}{{ _('N/A') }}{% endif %}</p>
    <p>{{ _('Uploaded By') }}:
    {% if pdoc['owner_uid'] != 0 %}
      {% with noBadge = true, user = pdoc['udoc'] %}
        {% include "components/inline_user.html" %}
      {% endwith %}
    {% else %}
      {{ _('Vijos Official') }}
    {% endif %}</p>
  </div>
</div>
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Related') }}</h1>
  </div>
  <div class="section__body typo">
    <p>{{ _('In following problem lists') }}: </p>
    <p>foobar</p>
    <p>{{ _('In following training plans') }}: </p>
    <p>LV 1: 最初的最初 - 基础能力</p>
  </div>
</div>
