.page--contest_status
  .col--rank
    width: rem(70px)
    border-right: 1px solid $table-border-color

  .col--user
    width: rem(140px)

  .col--score
    width: rem(70px)
    text-align: center

  .col--solve
    width: rem(100px)
    text-align: center

  .col--problem
    border-left: 1px solid $table-border-color
    text-align: center

  +mobile()
    .col--user
      width: auto

    .col--problem
      display: none
