.page--discussion_detail

  .topic__content
    margin: 20px 0

  .topic__footer
    font-size: 0.8rem
    color: #AAA

    a, a:active, a:visited
      color: #AAA

    a:hover
      color: $primary-color

  .profile__bg
    background-size: cover
    background-position: center center
    height: rem(60px)
    margin-bottom: rem(-32px)

  .sidebar-user-profile
    .media__body
      padding-left: rem(10px)
      padding-top: rem(20px)

    .user-profile-name
      font-size: 1.2rem
      color: #444
