@import '~misc/section.inc.styl'

.page--discussion_main,
.page--discussion_node
  .discussion__item
    padding: rem($section-gap-v $section-gap-h)
    padding-left: rem(5px)
    border-bottom: 1px solid $table-border-color
    border-left: 5px solid transparent

    &.highlight
      border-left: 5px solid $highlight-color

    &:last-child
      border-bottom: 0

  .discussion__title
    font-size: rem($font-size-title)
    line-height: 1.2em
    margin-bottom: rem(10px)

    a, a:hover
      color: $text-color

    a:visited
      color: lighten($text-color, 60%)

  .discussion__replies
    width: rem(70px)

    a
      color: #222

      &:visited
        color: #CCC

      &:hover
        color: $primary-color
        text-decoration: none

  .discussion-node__bg
    height: 0
    box-sizing: content-box
    padding-bottom: 40%
    background-size: cover
    background-position: left center
    background-repeat: no-repeat

    for id in 'qa' 'share' 'vijos' 'solution' 'advice'
      &.{id}
        background-image: url('./discussion_node_bg/nodes_' + id + '.png')
        +retina()
          background-image: url('./discussion_node_bg/nodes@2x_' + id + '.png')

    +below(rupture.desktop-cutoff)
      display: none
