.page--domain_ranking
  .col--rank
    width: rem(60px)
    border-right: 1px solid $table-border-color

  .col--user
    width: rem(90px)
    border-right: 1px solid $table-border-color

  .col--info
    width: rem(150px)