.page--problem_main
  .col--status, .col--submit_n, .col--ac_rate, .col--difficulty
    width: 70px
    text-align: center

  .col--submit_n, .col--difficulty
    border-left: 1px solid $table-border-color
