.page--problem_detail
  .section--contest-info
    background: #67AABB url(problem_detail/problem-contest-bg.png) right top no-repeat
    color: #FFF
    font-size: 1rem
    cursor: pointer

    +retina()
      background-image: url(problem_detail/problem-contest-bg@2x.png)
      background-size: 131px 150px

    h1
      font-size: 1.3rem
      color: #FFF
      text-shadow: 0 1px 3px rgba(#000, 0.5)

  .header--transition
    transition: margin .25s ease-in-out-cubic

  .header--hidden
    margin-top: -20rem

  .main--hidden, .footer--hidden
    display: none



