.page--ranking_main
  .col--rank
    width: rem(90px)
    border-right: 1px solid $table-border-color
    text-align: center

  .col--user
    width: rem(260px)
    border-right: 1px solid $table-border-color

  .col--rp
    width: rem(80px)
    border-right: 1px solid $table-border-color
    text-align: center

  .col--accept
    width: rem(80px)
    border-right: 1px solid $table-border-color
    text-align: center

