.page--record_detail
  .section__title .record-status--icon
    width: 25px

  .col--case
    width: 70px

  .col--memory, .col--time
    width: 120px

  .col--case, .col--status
    border-right: 1px solid $table-border-color
