.page--training_main
  .training__title, .training__title:hover
    color: $text-color
    line-height: 1.5

  .training__progress
    font-size: rem($font-size-small)
    color: $small-color
    line-height: rem(17px)
    vertical-align: top

  .training__progress-bar
    display: inline-block
    width: rem(100px)
    height: rem(5px)
    position: relative
    background: #EEE
    margin: rem(6px 0)
    line-height: 1
    vertical-align: top

  .training__progress-track
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 0%
    background-color: green

  .my.training__list
    .training__item
      margin-bottom: rem(15px)
    .record-status--icon
      font-size: rem(18px)
    .training__title
      font-size: rem($font-size)
