@import '~misc/section.inc.styl'

.page--training_main
  .training__title
    line-height: 1.2
    margin-bottom: 0.4em
    font-size: rem($font-size-title)

  .training__intro
    font-size: rem($font-size-secondary)
    margin: 1em 0

  .training__participants
    width: rem(60px)

  .training__progress
    line-height: rem(17px)
    vertical-align: top

  .training__progress-bar
    display: inline-block
    width: rem(100px)
    height: rem(5px)
    position: relative
    background: #EEE
    margin: rem(6px 0)
    line-height: 1
    vertical-align: top

  .training__progress-track
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 0%
    background-color: green

  .training__supplementary
    li
      display: inline-block
      margin-right: rem(15px)

  .primary.training__list
    .training__item
      padding: rem($section-gap-v $section-gap-h)
      border-bottom: 1px solid $table-border-color

      &:last-child
        border-bottom: 0

  .secondary.training__list
    .training__item
      margin-bottom: rem(15px)
    .training__title
      font-size: rem($font-size)

    &.my
      .record-status--icon
        font-size: rem($font-size-icon)
