.page--training_main
  .training__item
    margin: rem(20px 0)

    .record-status--icon
      font-size: rem(25px)

  .training__title
    font-size: rem($font-size-title)
    margin-bottom: 0.3em

    a, a:hover
      color: $text-color

  .training__progress
    font-size: rem($font-size-small)
    color: $small-color
    line-height: rem(17px)
    vertical-align: top

  .training__progress-bar
    display: inline-block
    width: rem(100px)
    height: rem(5px)
    position: relative
    background: #EEE
    margin: rem(6px 0)
    line-height: 1
    vertical-align: top

  .training__progress-track
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 0%
    background-color: green

  .training__detail-link
    white-space: nowrap
