{% set layout_name = "basic" %}
{% extends "layout/html5.html" %}
{% block body %}
{% include "components/nav.html" %}

<div class="slideout-panel" id="panel">
  {% include "components/nav-hamburger.html" %}
  <div class="header{% if header_mini %} mini{% endif %}">
    <div class="header-content"><div class="row"><div class="columns">
      <a class="header__logo" href="{{ reverse_url('main', domain_id=vj4.model.builtin.DOMAIN_ID_SYSTEM) }}" target="_self"></a>
    </div></div></div>
    <div class="header__layer"><div class="row"><div class="columns">
    {% if not header_mini %}
      <div class="location-path">
        {% for c in path_components %}
          / {% if c[1] %}<a href="{{ c[1] }}">{{ c[0] }}</a>{% endif %}
        {%- endfor %}
      </div>
      <h1 class="location-current">{{ path_components[-1][0] }}</h1>
    {% endif %}
    </div></div></div>
  </div>

  <div class="main">
    {% block content %}{% endblock %}
  </div>

  {% include "components/footer.html" %}
</div>

{% include "components/login_dialog.html" %}

{% endblock %}
