{% import "components/user.html" as user with context %}
<table class="data-table">
  <colgroup>
    <col class="col--rank">
    <col class="col--user">
    {% for pid in tdoc['pids'] %}
    <col class="col--p{{ loop.index }}">
    {% endfor %}
  </colgroup>
  <thead>
    <tr>
      <th class="col--rank">{{ _('Rank') }}</th>
      <th class="col--user">{{ _('User') }}</th>
      <th class="col--score">{{ _('Score') }}</th>
      {% for pid in tdoc['pids'] %}
      <th class="col--p{{ loop.index }}"><a href="{{ reverse_url('contest_detail_problem', tid=tdoc['_id'], pid=pid) }}"  data-tooltip="{{ pdict[(tdoc['domain_id'], pid)]['title'] }}">#{{ loop.index }}</a></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tsdoc in tsdocs %}
    <tr data-uid="-3">
      <td class="col--rank">
        {{ loop.index }}
      </td>
      <td class="col--user">
        {{ user.render_inline(udict[tsdoc['uid']], badge=false) }}
      </td>
      <td class="col--score">
        {{ tsdoc['score']|default(0) }}
      </td>
      {% with tsddict = dict(tsdoc['detail']|groupby('pid')) %}
      {% for pid in tdoc['pids'] %}
      <td class="col--p{{ loop.index }}">
        {% if tsddict[pid] %}
        <a href="{{ reverse_url('record_detail', rid=tsddict[pid][0]['rid']) }}">{{ tsddict[pid][0]['score']|default(0) }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      {% endfor %}
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>
