{% import "components/user.html" as user with context %}
<table class="data-table">
  <colgroup>
    <col class="col--rank">
    <col class="col--user">
    <col class="col--solve">
  {% for pid in tdoc['pids'] %}
    <col class="col--problem">
  {% endfor %}
  </colgroup>
  <thead>
    <tr>
      <th class="col--rank">{{ _('Rank') }}</th>
      <th class="col--user">{{ _('User') }}</th>
      <th class="col--solve">{{ _('Solve') }}</th>
    {% for pid in tdoc['pids'] %}
      <th class="col--problem"><a href="{{ reverse_url('contest_detail_problem', tid=tdoc['_id'], pid=pid) }}"  data-tooltip="{{ pdict[pid]['title'] }}">#{{ loop.index }}</a></th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for rank, tsdoc in ranked_tsdocs %}
    <tr{% if tsdoc['uid'] == handler.user['_id'] %} class="highlight"{% endif %}>
      <td class="col--rank">
        {{ rank }}
      </td>
      <td class="col--user">
        {{ user.render_inline(udict[tsdoc['uid']], badge=false) }}
      </td>
      <td class="col--solve">
        <div>{{ tsdoc['accept']|default(0) }}</div>
        <div>{{ tsdoc['time']|default(0.0) }}</div>
      </td>
    {% with tsddict = dict(tsdoc['detail']|groupby('pid')) %}
    {% for pid in tdoc['pids'] %}
      <td class="col--problem">
      {% if tsddict[pid][0]['accept'] %}
        <div><a href="{{ reverse_url('record_detail', rid=tsddict[pid][0]['rid']) }}">{{ _('Accepted') }}</a></div>
        <div>{{ tsddict[pid][0]['time'] }}</div>
      {% else %}
        -
      {% endif %}
      </td>
    {% endfor %}
    {% endwith %}
    </tr>
  {% endfor %}
  </tbody>
</table>
