{% import "components/user.html" as user with context %}
<div class="section side section--problem-sidebar">
{% if page_name != 'problem_detail' and page_name != 'contest_detail_problem' %}
  <div class="section__header">
    <h1 class="section__title">{{ pdoc['title'] }}</h1>
  </div>
{% endif %}
  <div>
    <ol class="menu">
    {% if page_name == 'discussion_node' %}
    {% if handler.has_perm(vj4.model.builtin.PERM_CREATE_DISCUSSION) %}
      <li class="menu__item"><a class="menu__link highlight" href="{{ reverse_url('discussion_create', node_or_pid=pdoc['doc_id']) }}">
        <span class="icon icon-add"></span> {{ _('Create a discussion') }}
      </a></li>
      <li class="menu__seperator"></li>
    {% endif %}
    {% endif %}
    {% if page_name == 'problem_detail' %}
      <li class="menu__item scratchpad--hide"><a class="menu__link highlight" name="problem-sidebar__open-scratchpad" href="javascript:;" data-global-hotkey="alt+e">
        <span class="icon icon-enlarge"></span> {{ _('Open Scratchpad') }} (Alt+E)
      </a></li>
      <li class="menu__item non-scratchpad--hide"><a class="menu__link" name="problem-sidebar__quit-scratchpad" href="javascript:;" data-global-hotkey="alt+q">
        <span class="icon icon-enlarge"></span> {{ _('Quit Scratchpad') }} (Alt+Q)
      </a></li>
    {% else %}
      <li class="menu__item"><a class="menu__link" href="{{ reverse_url('problem_detail', pid=pdoc['doc_id']) }}">
        <span class="icon icon-flag"></span> {{ _('View Problem') }}
      </a></li>
    {% endif %}
      <li class="menu__seperator"></li>
      <li class="menu__item scratchpad--hide"><a class="menu__link{% if page_name == 'problem_submit' %} active{% endif %}" href="{{ reverse_url('problem_submit', pid=pdoc['doc_id']) }}">
        <span class="icon icon-send"></span> {{ _('Submit') }}
      </a></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_statistics' %} active{% endif %}" href="{{ reverse_url('problem_statistics', pid=pdoc['doc_id']) }}">
        <span class="icon icon-statistics"></span> {{ _('Submission Statistics') }}
      </a></li>
    {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_DISCUSSION) or handler.has_perm(vj4.model.builtin.PERM_VIEW_PROBLEM_SOLUTION) %}
      <li class="menu__seperator"></li>
    {% endif %}
    {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_DISCUSSION) %}
      <li class="menu__item"><a class="menu__link{% if page_name == 'discussion_node' %} active{% endif %}" href="{{ reverse_url('discussion_node', node_or_pid=pdoc['doc_id']) }}">
        <span class="icon icon-comment--text"></span> {{ _('Discussions') }}
      </a></li>
    {% endif %}
    {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_PROBLEM_SOLUTION) %}
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_solution' %} active{% endif %}" href="{{ reverse_url('problem_solution', pid=pdoc['doc_id']) }}">
        <span class="icon icon-comment--text"></span> {{ _('Solutions') }}
      </a></li>
    {% endif %}
    {% if handler.has_perm(vj4.model.builtin.PERM_EDIT_PROBLEM) %}
      <li class="menu__seperator"></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_edit' %} active{% endif %}" href="{{ reverse_url('problem_edit', pid=pdoc['doc_id']) }}">
        <span class="icon icon-edit"></span>  {{ _('Edit') }}
      </a></li>
      <li class="menu__item"><a class="menu__link{% if page_name == 'problem_settings' %} active{% endif %}" href="{{ reverse_url('problem_settings', pid=pdoc['doc_id']) }}">
        <span class="icon icon-wrench"></span> {{ _('Settings') }}
      </a></li>
    {% endif %}
    </ol>
  </div>
</div>

<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Information') }}</h1>
  </div>
  <div class="section__body typo">
    <dl class="large horizontal">
      <dt>{{ _('Status') }}</dt>
      <dd>
        {# TODO(twd2): check contest #}
      {% if pdoc['psdoc']['status'] %}
        <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[pdoc['psdoc']['status']] }}"></span>
        <a href="{{ reverse_url('record_detail', rid=pdoc['psdoc']['rid'], domain_id=pdoc['psdoc']['domain_id']) }}" class="record-status--text {{ vj4.constant.record.STATUS_CODES[pdoc['psdoc']['status']] }}">
          {{ vj4.constant.record.STATUS_TEXTS[pdoc['psdoc']['status']] }}
        </a>
      {% else %}
        {{ _('(None)') }}
      {% endif %}
      </dd>
      <dt>{{ _('Difficulty') }}</dt>
      <dd>{{ pdoc['difficulty']|default(_('(None)')) }}</dd>
      <dt>{{ _('Vote') }}</dt>
      <dd><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star"></span><span class="icon icon-star--outline"></span> (30)</dd>
      <dt>{{ _('Category') }}</dt>
      <dd>动态规划 | 树形动规、高精度</dd>
      <dt>{{ _('Submit') }}</dt>
      <dd>{{ pdoc['num_submit'] }}</dd>
      <dt>{{ _('Accepted') }}</dt>
      <dd>{{ pdoc['num_accept'] }}</dd>
      <dt>{{ _('Accepted Rate') }}</dt>
      <dd>{% if pdoc['num_submit'] > 0 %}{{ (100 * pdoc['num_accept'] / pdoc['num_submit'])|round|int }}%{% else %}{{ _('?') }}{% endif %}</dd>
    {% if pdoc['owner_uid'] != 0 %}
      <dt>{{ _('Uploaded By') }}</dt>
      <dd>{{ user.render_inline(owner_udoc, badge=false) }}</dd>
    {% endif %}
    </dl>
  </div>
</div>
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Related') }}</h1>
  </div>
  <div class="section__body typo">
  {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_TRAINING) %}
    <p>{{ _('In following training plans') }}: </p>
    <p>LV 1: 最初的最初 - 基础能力</p>
  {% endif %}
  </div>
</div>
