$nav-item-height = 45px
$nav-item-hover-color = $primary-color
$nav-item-active-color = $secondary-color
$nav-item-round-height = 32px
$nav-item-round-color = $primary-color
$nav-item-round-border = 2px
$nav-logo-width = 45px
$nav-logo-height = 23px
