@import '~misc/section.inc.styl'

.popup
  display: none
  font-size: 0.8rem

.menu
  padding: rem(5px 0)
  font-size: 0.9rem

  &.popup
    min-width: rem(150px)
    box-shadow: 0 2px 7px rgba(#000, 0.3)
    background: #FFF
    font-size: 0.8rem

.menu__link
  display: block
  padding: 0 rem($section-gap-h)
  line-height: 3em
  color: $text-color
  border-left: 3px solid transparent

  &:active, &:visited
    color: $text-color

  &:hover
    color: $text-color
    text-decoration: none
    background: #F4F4F4
    border-color: darken($primary-color, 10%)

  &.active
    border-color: darken($primary-color, 10%)
    background: lighten($primary-color, 10%)
    color: #FFF

.popup .menu__link
  padding: rem(0 10px)
  line-height: 2.5em

.menu__seperator
  height: 1px
  border-top: 1px solid #EEE
  margin: rem(5px 0)

.menu__icon
  display: inline-block
  margin-right: rem(5px)
