@import './var.inc.styl'

.button
  font-size: rem($font-size-secondary)
  line-height: rem($form-control-height)
  background-color: $default-color
  border: 0
  height: rem($form-control-height)
  padding: rem(0 25px)
  display: inline-block
  outline: 0
  margin: 0 0 1rem
  color: $text-color
  transition: background-color .2s linear, box-shadow .2s linear
  cursor: pointer

  &:hover, &:focus
    background-color: darken($default-color, 10%)
    text-decoration: none
    box-shadow: 0 4px 15px rgba(darken($default-color, 20%), 0.5)

  &.expanded
    padding-left: 0
    padding-right: 0
    text-align: center
    width: 100%

  &.rounded
    border-radius: rem($form-control-height / 2)

  &.primary
    background-color: $primary-color
    color: #FFF

    &:hover
      background-color: lighten($primary-color, 10%)
      box-shadow: 0 4px 15px rgba(darken($primary-color, 20%), 0.3)

  &.secondary
    background-color: $secondary-color
    color: #FFF

    &:hover
      background-color: lighten($secondary-color, 10%)
      box-shadow: 0 4px 15px rgba($secondary-color, 0.3)

.button.inverse
  line-height: rem($form-control-height - 4)
  border: 2px solid #FFF
  background: none
  color: #FFF

  &:hover, &:focus
    border-color: $immersive-primary-color
    color: $immersive-primary-color
    background: none
    box-shadow: none
