@import './var.inc.styl'

.checkbox
  font-size: rem($font-size-secondary)
  line-height: rem($form-standard-height)
  border: 0
  height: rem($form-standard-height)
  display: inline-block
  vertical-align: top
  cursor: pointer
  user-select: none
  color: lighten($text-color, 30%)

  &:hover
    color: $text-color

  input
    appearance: none
    border: 1px solid #D0D0D0
    display: inline-block
    border-radius: 1px
    width: rem(16px)
    height: rem(16px)
    margin: rem(($form-standard-height - 16) / 2, 0)
    margin-right: rem(5px)
    vertical-align: top
    position: relative
    outline: 0
    transition: background .1s linear
    background: none

    &:after
      content: ''
      width: rem(10px)
      height: rem(6px)
      position: absolute
      top: rem(3px)
      left: rem(2px)
      border: 2px solid #FFF
      border-top: none
      border-right: none
      background: transparent
      transform: rotate(-65deg) scale(0.8)
      transition: transform .1s
      transition-timing-function: ease-out-cubic

    &:hover
      border-color: rgba($primary-color, 0.7)

    &:checked
      background: $primary-color
      border-color: $primary-color

    &:checked:after
      transform: rotate(-45deg)
