@import './var.inc.styl'

.form__row
  margin-top: 1.5em

  &.compact
    margin-top: 0.5em

label
  font-size: 0.9rem
  color: rgba($text-color, 0.8)

label.form__group
  display: block

  input, textarea, select
    display: block
    margin-top: 0.5rem
