$input-focus-color = #C1E0FF
$form-control-height = 35px
$compact-control-height = 28px
$input-margin = 0 0 1rem
$input-background-color = #FFF
$input-border = 1px solid #DDD
$input-outline = 2px solid transparent
$input-focus-border-color = $primary-color
$input-focus-outline = 2px solid $input-focus-color

form-styles()
  appearance: none
  display: block
  width: 100%
  font-size: rem($font-size-secondary)
  margin: $input-margin
  height: rem($form-control-height)
  line-height: 1.2
  padding: rem(5px)
  border: $input-border

  &.inline
    display: inline-block
    width: auto
