@import '~vj-simplemde/src/css/simplemde.css';
@import '../toolbar/var.inc.styl';

.cm-s-simplemde
  border-radius: 0
  border-color: #DDD
  border-top: 0
  padding: rem(5px)
  min-height: rem(150px)
  font-family: $code-font-family
  font-weight: 300

.simplemde-toolbar
  border-radius: 0
  border-color: #DDD
  opacity: 1
  background: $toolbar-bg
  &:hover
    opacity: 1

.cm-s-simplemde .CodeMirror-scroll
  min-height: rem(150px)

.simplemde-toolbar:before,
.simplemde-toolbar:after
  display: none

.simplemde-toolbar
  padding: rem(5px)

.simplemde-toolbar i.separator
  border-right: 0

.simplemde-toolbar a
  color: $toolbar-fore !important
  border: 0
  background: none
  border-radius: 0
  font-size: 1.2rem
  outline: 0

  &:hover
    background: $toolbar-bg-hover
    color: $toolbar-fore-hover !important
    border: 0

  &.active
    background: $toolbar-bg-selected
    color: $toolbar-fore-selected !important
    border: 0

.simplemde-toolbar.disabled-for-preview a:not(.no-disable)
  background: none
  opacity: $toolbar-disabled-opacity

.cm-s-simplemde .CodeMirror-code .cm-comment
  background: none
