code
  padding: 0 .2em
  border: 1px solid #dedede
  background-color: #f8f8ff
  border-radius: 3px

code, .hljs
  font-size: rem($font-size-secondary)

pre code, .hljs
  display: block
  padding: .5em
  border: 1px dotted #DDD
  background: none
  border-radius: 0

.lang-math
  padding: 0
  border: 0
  background: none
  border-radius: 0
  font-size: inherit
