$toolbar-bg = #f2f6f7
$toolbar-fore = #8395a1
$toolbar-fore-hover = #5a6b75
$toolbar-bg-hover = #e3e7e8
$toolbar-fore-selected = #FFF
$toolbar-bg-selected = $secondary-color
$toolbar-disabled-opacity = 0.3
