.drop-element,
.drop-element:after,
.drop-element:before,
.drop-element *,
.drop-element *:after,
.drop-element *:before
  box-sizing: border-box

.drop-element
  position: absolute
  display: none
  opacity: 0
  transition: opacity .1s ease-in-out
  z-index: 1000   // managed

  &.drop-open
    display: block

  &.drop-open-transitionend
    display: block

  &.drop-after-open
    opacity: 1

.drop-element-attached-top.drop-element-attached-left .drop-content
  transform-origin: -10% -10%
.drop-element-attached-top.drop-element-attached-center .drop-content
  transform-origin: 50% -10%
.drop-element-attached-top.drop-element-attached-right .drop-content
  transform-origin: 110% -10%
.drop-element-attached-bottom.drop-element-attached-left .drop-content
  transform-origin: -10% 110%
.drop-element-attached-bottom.drop-element-attached-center .drop-content
  transform-origin: 50% 110%
.drop-element-attached-bottom.drop-element-attached-right .drop-content
  transform-origin: 110% 110%
.drop-element-attached-center.drop-element-attached-left .drop-content
  transform-origin: -10% 50%
.drop-element-attached-center.drop-element-attached-center .drop-content
  transform-origin: 50% 50%
.drop-element-attached-center.drop-element-attached-right .drop-content
  transform-origin: 110% 50%
