@import '~misc/section.inc.styl'

.menu
  padding: rem(5px 0)
  font-size: 0.9rem

.menu__link
  display: block
  padding: 0 rem($section-gap-h)
  line-height: 3em
  color: $text-color
  border-left: 3px solid transparent

  &:active, &:visited
    color: $text-color

  &:hover
    color: $text-color
    text-decoration: none
    background: #F4F4F4
    border-color: darken($primary-color, 10%)

  &.active
    border-color: darken($primary-color, 10%)
    background: lighten($primary-color, 10%)
    color: #FFF

.menu__seperator
  height: 1px
  border-top: 1px solid #EEE
  margin: rem(5px 0)

.menu__icon
  display: inline-block
  margin-right: rem(5px)
